<!--
이메일 중복확인 - check_email 변수에 담아주세요.
사업자등록번호 유효한 지 - 함수로 확인
이메일 인증하기 - BACKEND 구역
-->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/body.css">
    <link rel="stylesheet" href="/static/css/signUp_customer.css">
    <title>회원가입_customer</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>


<body class="text-center">
 <form method = "POST" class="form-signup" onsubmit="return chkPW()">
     <img class="mb-4" src="/static/img/logo_customer.png" alt="logo_customer" width="141" height="120">
     {% csrf_token %}
     <div class="row mt-5">
        <div class="col-12">
            {{error}}
        </div>
    </div>
    <div class="form-inline form-group">
      <label class="col-sm-4 control-label">아이디</label>
        {{customer.userID}}
    </div>

    <div class="form-inline form-group">
      <label class="col-sm-4 control-label">성명</label>
        {{customer.name}}
      <!-- 이 name 값으로 정보가 전달된다 -->

    </div>

    <div class="form-inline form-group">
      <label for="email_customer" class="col-sm-4 control-label">이메일</label>
      <input type="email"
             class="form-control"
             id="email_customer"
             placeholder="이메일을 입력해주세요."
             name="email_customer"
             required>
    </div>

    <div class="form-inline form-group">
      <label for="password_customer" class="col-sm-4 control-label">비밀번호</label>
        <input type="password"
      class="form-control"
      id="password_customer"
      placeholder="비밀번호"
      name= "password_customer"
      required>
    </div>

    <div class="form-inline form-group">
      <label for="re-password_customer" class="col-sm-4 control-label" >비밀번호 확인</label>
      <input type="password"
      class="form-control"
      id="re-password_customer"
      placeholder="비밀번호 재입력"
      name= "re-password_customer"
      required>
    </div>
     <div class="alert alert-success" id="alert-success1">비밀번호가 일치합니다.</div>
     <div class="alert alert-danger" id="alert-danger1">비밀번호가 일치하지 않습니다.</div>


    <div class="form-inline form-group">
      <label class="col-sm-4 control-label" >휴대전화</label>
        {{customer.phoneNum}}
    </div>
      <!-- 이 name 값으로 정보가 전달된다 -->
<!--여기 수정되어야 함
check_businessID이 참이면 유효한 사업자등록번호입니다.
     <script>
        $(function(){
            $("#businessID_success").hide();
            $("#businessID_fail").hide();

            $("#btn-businessID").click(function(){
                if (check_businessID==TRUE){
                    $("#businessID_success").show();
                    $("#businessID_fail").hide();
                else {
                    $("#businessID_success").hide();
                    $("#businessID_fail").show();
                }
            });
        })
     </script>

check_businessID이 거짓이면 유효하지 않는 사업자등록번호입니다.-->
    <button type="submit" id="submit" class="btn btn-lg btn-secondary btn-block">SIGN UP</button>
 </form>
</body>
</html>

<script type="text/javascript">
    $(function () {
        $("#alert-success1").hide();
        $("#alert-danger1").hide();
        $("#submit").attr("disabled", "disabled");

            $("input").keyup(function() {
            var pwd1=$("#password_customer").val();
            var pwd2=$("#re-password_customer").val();


            if (pwd1 != "" || pwd2 != "") {
                if (pwd1 == pwd2) {
                    $("#alert-success1").show();
                    $("#alert-danger1").hide();
                    $("#submit").removeAttr("disabled");
                } else {
                    $("#alert-success1").hide();
                    $("#alert-danger1").show();
                }
            }
        });
    });
</script>

<script>
    function chkPW(){

 var pw = $("#password_customer").val();
 var num = pw.search(/[0-9]/g);
 var eng = pw.search(/[a-z]/ig);
 var spe = pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);
 if(pw.length < 8 || pw.length > 20){
  alert("비밀번호를 8자리 ~ 20자리 이내로 입력해주세요.");
  return false;
 }else if(pw.search(/\s/) != -1){
  alert("비밀번호는 공백 없이 입력해주세요.");
  return false;
 }else if( (num < 0 && eng < 0) || (eng < 0 && spe < 0) || (spe < 0 && num < 0) ){
  alert("영문,숫자, 특수문자 중 2가지 이상을 혼합하여 입력해주세요.");
  return false;
 }else {
	console.log("통과");
 }
}
</script>