{% extends 'base_customer.html' %}
{% block title%} ::: 주문자 메인화면 ::: {% endblock %}

{% block content %}

    <link rel="stylesheet" href="/static/css/main_customer.css">

 <!-- 위치 선택을 위한 jquery -->
    <script src="https://code.jquery.com/jquery-latest.min.js" type="application/javascript"></script>
    <script type="application/javascript" src="https://zelkun.tistory.com/attachment/cfile8.uf@99BB7A3D5D45C065343307.js"></script>
    <script>
      jQuery(document).ready(function(){
      //sido option 추가
      //each: 일반적인 반복함수 (배열이나 객체, 콜백함수)
      jQuery.each(hangjungdong.sido, function(idx, code){
        //append를 이용하여 option 하위에 붙여넣음
        // fn_option
        jQuery('#sido').append(fn_option(code.sido, code.codeNm));
      });

      //sido 변경시 시군구 option 추가
      jQuery('#sido').change(function(){
        if(jQuery('#sido option:selected').val() != '36'){
          jQuery('#sigugun').prop('disabled', false);
        }
        jQuery('#sigugun').show();
        jQuery('#sigugun').empty();
        jQuery('#sigugun').append(fn_option('','시/ 군/ 구 선택'));
        jQuery.each(hangjungdong.sigugun, function(idx, code){
          if(jQuery('#sido > option:selected').val() == code.sido)
            jQuery('#sigugun').append(fn_option(code.sigugun, code.codeNm));

        jQuery('#dong').empty();
        jQuery('#dong').append(fn_option('','읍/ 면/ 동 선택'));
        });

        //세종특별자치시 예외처리
        //옵션값을 읽어 비교 : $("#셀렉트박스id option:selected").val()
        if(jQuery('#sido option:selected').val() == '36'){
          //세종특별자치시일 경우 없애줌.-> 없애지 않고 선택못하게 하고 싶음. : 했다!
          jQuery('#sigugun').prop('disabled', true);
          //index를 이용해서 selected 속성(attr)추가
          //기본 선택 옵션이 최상위로 index 0을 가짐
          //직접 index값을 주어 selected 속성 주기
          jQuery('#sigugun option:eq(1)').attr('selected', 'selected');
          //trigger를 이용해 change 실행
          //이벤트 핸들러 없이 동작하려면 trigger가 필요
          jQuery('#sigugun').trigger('change');
        }
      });
      //시군구 변경시 행정동 옵션추가
      jQuery('#sigugun').change(function(){
      //option 제거
      jQuery('#dong').empty();
      jQuery.each(hangjungdong.dong, function(idx, code){
          if(jQuery('#sido > option:selected').val() == code.sido && jQuery('#sigugun > option:selected').val() == code.sigugun)
          jQuery('#dong').append(fn_option(code.dong, code.codeNm));
      });
      //option의 맨앞에 추가
      jQuery('#dong').prepend(fn_option('','읍/ 면/ 동 선택'));
      //option중 선택을 기본으로 선택
      jQuery('#dong option:eq("")').attr('selected', 'selected');

      });

      jQuery('#dong').change(function(){
        var sido = jQuery('#sido option:selected').val();
        var sigugun = jQuery('#sigugun option:selected').val();
        var dong = jQuery('#dong option:selected').val();
        var dongCode = sido + sigugun + dong + '00';
      });
    });
    function fn_option(code, name){
      return '<option value="' + code +'">' + name +'</option>';
    }
    </script>


  <div>
      <form>
        <!-- 날짜, 위치 다 -->
        <div class="form-group">
          <!-- 위치 -->
          <div class="row flex-nowrap justify-content-right align-items-center pt-5 form">
          <!-- <div class="selectbox_location"> -->
<!--              <hr>-->
            <label class="text-nowrap" for="location" style="padding-right:70px">위치</label>
            <select id="sido" class="location_select">
              <option value="">시/ 도 선택</option>
            </select>
            <select id="sigugun" class="location_select">
              <option value="">시/ 군/ 구 선택</option>
            </select>
            <select id="dong" class="location_select">
              <option value="">읍/ 면/ 동 선택</option>
            </select>
          </div>

          <!-- 날짜 -->
          <div class="row flex-nowrap justify-content-right align-items-center pt-3 form">
              <label class="text-nowrap" for="date" style="padding-right:70px" min="2020-10-19">날짜</label>
              <input id="date" type="date">
          </div>
            <br>
            <br>
          <p id="selectbox_letter">※ 날짜와 위치를 모두 선택해주세요.</p>
            <br>
            <a href="#" class="btn btn-primary button" style="float: right;">확인</a>
<!--        <button type="submit" class="btn btn-primary" style="float: right;">확인</button>-->
        </div>
      </form>
    </div>

<!--<form method = "POST" action="{% url 'main_customer'%}">-->
<!--    <div class="form-group">-->
<!--      <input-->
<!--      type="date"-->
<!--      class="form-control"-->
<!--      id="pickupDate"-->
<!--      name="pickupDate">-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <input-->
<!--      type="date"-->
<!--      class="form-control"-->
<!--      id=""-->
<!--      name="pickupDate">-->
<!--    </div>-->

<!--  <button type="submit" id="submit">등록</button>-->

<!--</form>-->
<!--<script>-->
<!--  document.getElementById('currentMonth').value= new Date().toISOString().slice(0, 7);-->
<!--</script>-->


<!--<p>main_customer</p>-->
{% endblock %}