{% extends 'base_customer.html' %}
{% block title %} :: 케이크 주문 :: {% endblock %}
{% block content %}
   <div class="row">
        <p class="pt-3 pl-4 path">주문하기 > ♥{{store.storeName}}♥에서 나만의 케이크 만들기</p>
    </div>


    <style>
    .color_recommend {
        float: left;
	      border:2px solid #000000;
	      width: 15px;
	      height: 15px;
	      border-radius: 100%;
    }
    #cream_circle {
        background-color:#ffffff;
        border:2px solid #000000;
        width:200px;
        height:200px;
        border-radius:100px;
        text-align:center;
        margin:0 auto;
        font-size:12px;
        vertical-align:middle;

        display: flex;
        justify-content: center;
        align-items: center;
        line-height:150px;
    }

    #cake_circle {
        background-color:#ffffff;
        border:1px solid #000000;
        width:160px;
        height:160px;
        border-radius:80px;
        text-align:center;
        margin:auto;
        font-size:12px;
        color:#fff;
        vertical-align:middle;

        display: flex;
        justify-content: center;
        align-items: center;
        line-height:100px;
    }

    #cake_letter {
        width:190px;
        height:190px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    #cake_letter_content{
        /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
        font-size: 25px;
        color: black;
        font-weight: bold;
    }

    #selected_cakeInfo{
        width: 100%;
    }

    #lg_border{
        border-right: 2px solid #f0e7e7;
    }

    .border_bottom{
        border-bottom: 2px solid #f0e7e7;
    }

    #cakeImg{
        width: 13rem;
        height: 13rem;
        object-fit: contain;
        border: 2px solid #ffe0e0;
    }

    #baker_msg{
        text-align: left;
        display: inline-block;
        border: 2px solid #ffe0e0;
        border-radius: 3px;
        width: 16rem;
        height: 15rem;
        background-color: white;
    }

    #letter_content{
        border: 2px solid #ffe0e0;
        border-radius: 3px;
        height: 5rem;
        width: 15rem;
        background-color: white;
    }

    #color_select{
        margin-left: 100px;
    }

<!--    #color_select p{-->
<!--        padding-bottom: 10px;-->
<!--    }-->

    #color_select p input{
        margin-left: 10px;
    }

<!--    #color_select{-->
<!--        border: 0.15em dashed gray;-->
<!--        border-radius: 3px;-->
<!--    }-->

<!--    td{-->
<!--        white-space: nowrap;-->
<!--    }-->

<!--    #color_select tr:first-child{-->
<!--        border-right: 1px solid gray;-->
<!--    }-->

    .add_btn {
        background-color: #b8b8b8;
        border: 1px solid #b8b8b8;
        border-radius: .2rem;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 1px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 120px;
        height: 1.9em;
    }

    .add_btn:hover {
        background-color: #a7a7a7;
        transition: 0.15s;
    }

    .add_btn:focus {
        outline: none;
    }

    .add_btn:active {
        background-color: #969393;
    }

    #requiredOption_table, #optionalOption_table{

    }

<!--    select {-->
<!--        width: 160px;-->
<!--        height: 35px;-->
<!--        padding: .6em .5em;-->
<!--        border: 1px solid #999;-->
<!--        background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;-->
<!--        border-radius: 0px;-->
<!--        -webkit-appearance: none;-->
<!--        -moz-appearance: none;-->
<!--        appearance: none;-->
<!--    }    -->

    .option {
        width: 110px;
        height: 30px;
        padding: .5em .5em;
        border: 1px solid #999;
        border-radius: 0px;
        font-size: 0.95em;
        padding-left:10%;
    }

    @media (min-width: 768px) {
        .option {
            width: 120px;
        }
    }

     @media (min-width: 992px) {
        .option {
            width: 160px;
        }
    }

    #pickupTime{
        width: 135px;
        height: 30px;
        border: 1px solid #999;
        border-radius: 0px;
        font-size: 0.9rem;
        padding-left: 0.5rem;
    }

<!--    /* 네이티브 화살표 숨기기 */-->
<!--    select::-ms-expand {-->
<!--        display: none;-->
<!--    }-->

    .font{
        font-size: 0.85em;
    }

    #lettering{
        border: 2px solid #ffe0e0;
        border-radius: 3px;
        height: 5rem;
        width: 100%;
        background-color: white;
    }

     #message{
        border: 2px solid #ffe0e0;
        border-radius: 3px;
        height: 5rem;
        width: 100%;
        background-color: white;
    }
    </style>
<form method = "POST" name="order" class="form_order" onsubmit="return check_submit()">
     {% csrf_token %}
    <table id="selected_cakeInfo" class="mt-4">
        <tr id="lg_tr">
            <td rowspan="5" id="lg_border" style="text-align: center; vertical-align: top; width: 30%;">
                <div class="mt-3" style="font-weight: bold;"><span>픽업 날짜: </span><span class="ml-3">{{selectedYear}}</span><span> / {{selectedMonth}}</span><span> / {{selectedDay}}</span></div>
                <div class="mt-2">
                    <span style="font-weight: bold;">픽업 시간</span>
                    <select name="pickupTime" id="pickupTime">
                            <option value="">선택해주세요.</option>
                        {% for pickuptime in pickuptimes %}
                            <option value="{{pickuptime}}">{{pickuptime}}</option>
                        {% endfor %}
                    </select>
                </div>
                <hr>
                <div class="mt-4 m-2">내가 선택한 디자인</div>
                <img id="cakeImg" class="m-1" src="/media/{{cake.cakeImg}}" alt="cake image">
                <div id="cakeInfo" class="m-2">
                    <div class="m-2" style="font-weight: bold;">{{cake.cakeName}}</div>
                    <span>가격 (1호 기준)</span>
                    <span>{{cake.cakePrice}}원</span>
                </div>
                <div class="mt-5 d-flex justify-content-around" style="font-weight: bold;">
                    <span>사장님이 전하는 말</span>
                    <span style="color: #ec6161;">※필독</span>
                </div>
                <span id="baker_msg" class="mt-3 mx-1 p-2">
<!--                  <pre>-->
                    {{store.aboutCake}}
<!--                  </pre>-->
                </span>
            </td>
        <td id="lg_border2">
            <div class="mt-3">
<!--            <div class="mt-3">-->
<!--                <div style="col-6 col-sm-6 col-md-4 padding-left:5%;">-->
                <div style="width:45%; float: left; padding-left:5%;">
                    <table id="requiredOption_table" class="font text-nowrap">
                        <tr>
                            <th style="font-weight: bold; font-size: 0.95rem; height: 22px;">필수옵션</th>
                        </tr>
                        {% for option in options %}
                        {% if option.isNecessary == 1 %}
                        <tr>
                            {% if option.withColorOrImage == "색상판" %}
                            <td rowspan="2">{{option.optionName}}</td>
                            {% elif option.withColorOrImage == "이미지" %}
                            <td rowspan="2">{{option.optionName}}</td>
                            {% else %}
                            <td>{{option.optionName}}</td>
                            {% endif %}
                            <td style="padding-left: 5%;">
                                <!-- 이게 동적으로 필수옵션 개수 만큼 -->
                                <select name="option option_color option_image" class="option requiredOption" onchange="price_cal()">
                                    <!--필수옵션이름-->
                                    <option value="">필수선택</option>
                                    <!-- 이게 동적으로 세부옵션만큼 -->
                                        {% for detailedOption in detailedOptions %}
                                        {% if detailedOption.option_id == option.pk %}
                                            <!-- 필수상세옵션1-->
                                            {% if detailedOption.pricing >= 0 %}
                                                <option value="{{detailedOption}}">{{detailedOption.detailName}} (+{{detailedOption.pricing}})</option>
                                            {% elif detailedOption.pricing < 0 %}
                                                <option value="{{detailedOption}}">{{detailedOption.detailName}} ({{detailedOption.pricing}})</option>
                                            {% endif %}

                                        {% endif %}
                                        {% endfor %}
                                </select>
                            </td>
                        </tr>
                        {% if option.withColorOrImage == 1 %}
                        <tr>
                        <!-- 색상판 -->
                            <td style="padding-left: 5%;"><input type="color" name="option_color" id="requiredOption_color" value="#ffffff"></td>
                        </tr>
                        {% elif option.withColorOrImage == 1 %}
                        <tr>
                        <!-- 이미지업로드 -->
                            <td style="padding-left: 5%;"><input type="file" name="option_image" id="requiredOption_image" accept="image/*"></td>
                        </tr>
                        {% endif %}

                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
<!--                <div style="col-6 col-sm-6 col-md-4 padding-right:5%;">-->
                <div style="width:45%; float: right; padding-right:5%;">
                    <table id="optionalOption_table" class="font text-nowrap">
                        <tr class="mb-2">
                            <th style="font-weight: bold; font-size: 0.95rem; height: 22px;">선택옵션</th>
                        </tr>
                        {% for option in options %}
                        {% if option.isNecessary == 0 %}
                        <tr>
                            {% if option.withColorOrImage == "색상판" %}
                            <td rowspan="2">{{option.optionName}}</td>
                            {% elif option.withColorOrImage == "이미지" %}
                            <td rowspan="2">{{option.optionName}}</td>
                            {% else %}
                            <td>{{option.optionName}}</td>
                            {% endif %}
                            <td style="padding-left: 5%;">
                                 <!-- 이게 동적으로 필수옵션 개수 만큼 -->
                                <select name="option option_color option_image" class="option" onchange="price_cal()">
                                    <!--필수옵션이름-->
                                    <option value="">필요시 선택</option>
                                    <!-- 이게 동적으로 세부옵션만큼 -->
                                    {% for detailedOption in detailedOptions %}
                                    {% if detailedOption.option_id == option.pk %}
                                        <!-- 필수상세옵션1-->
                                        {% if detailedOption.pricing >= 0 %}
                                            <option value="{{detailedOption}}">{{detailedOption.detailName}} (+{{detailedOption.pricing}})</option>
                                        {% elif detailedOption.pricing < 0 %}
                                            <option value="{{detailedOption}}">{{detailedOption.detailName}} ({{detailedOption.pricing}})</option>
                                        {% endif %}

                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        {% if option.withColorOrImage == "색상판" %}
                        <tr>
                        <!-- 색상판 -->
                            <td style="padding-left: 5%;"><input type="color" name="option_color" id="optionalOption_color" value="#ffffff"></td>
                        </tr>
                        {% elif option.withColorOrImage == "이미지" %}
                        <tr>
                        <!-- 이미지업로드 -->
                            <td style="padding-left: 5%;"><input type="file" name="option_image" id="optionalOption_image" accept="image/*"></td>
                        </tr>
                        {% endif %}
                        {% endif %}
                        {% endfor %}

                        <!-- 못하겠어 -->
                        {% if options.isNecessary == 1  %}
                            <tr>선택옵션이 존재하지 않습니다.</tr>
                        {% endif %}
                    </table>

                </div>
            </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="mt-5" style="font-weight:bold; padding-left:5%;">
                    <div style="font-weight: bold; font-size: 0.95rem;">레터링 문구</div>
                </div>
                <div class="mt-2 mb-2" style="padding-left:5%; font-size:0.9rem;"><textarea type="text" name="cakeText" id="lettering" placeholder="레터링이 필수옵션이거나, 추가옵션 시에는 선택했을 경우에만 기입해주세요."></textarea></div>
            </td>
        </tr>
        <tr>
            <td class="border_bottom">
                <div class="mt-3" style="font-weight:bold; padding-left:5%;">
                    <div style="font-weight: bold; font-size: 0.95rem;">사장님께 전하는 말</div>
                </div>
                <div class="mt-2 mb-2" style="padding-left:5%; font-size:0.9rem;"><textarea type="text" name="message" id="message" placeholder="사장님께 하고 싶은 말이 있다면 적어주세요."></textarea></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="ml-3 mt-3" style="font-weight:bold;">
                    <div class="text-nowrap">색조합 추천 받기</div>
                </div>
                <div class="ml-3 mt-2">
                    <span style="font-size: 0.9em; color: #ec6161; font-weight:bold;" class="text-nowrap">※ 시뮬레이션입니다. 실제 케이크에 적용되지 않습니다!</span>
                </div>
<!--                <div class="ml-4 mt-3" style="font-size: 0.9em; color: red;">-->
<!--                    <div style="text-align:left;">시뮬레이션입니다.</div>-->
<!--                    <div style="text-align:left;">실제 케이크와는 다르니 유의해주세요.</div>-->
<!--                </div>-->
                <div class="row">
                    <div id="color_select" class="col-10 col-sm-10 col-md-5 col-lg-5 m-4" style="text-align:center;">
                        <div style="display: inline-block;">
                            <p class="text-nowrap mb-3" style="text-align:left;">케이크색상<input type="color" id="cake_color" value="#ffffff"></p>
                            <div class="color_recommend" id="color1" onclick="color1_click();"></div><div class="color_recommend" id="color2" style="margin-left: 0.4em;" onclick="color2_click();"></div><div class="color_recommend" id="color3" style="margin-left: 0.4em;" onclick="color3_click();"></div><div class="color_recommend" id="color4" style="margin-left: 0.4em;" onclick="color4_click();"></div><div class="color_recommend" id="color9" style="margin-left: 0.4em;" onclick="color9_click();"></div>
                            <br><br>
                            <p class="text-nowrap mb-3" style="text-align:left;">크림색상<input type="color" id="cream_color" value="#ffffff"></p>
                            <div id="color5" class="color_recommend" onclick="color5_click();"></div><div class="color_recommend" id="color6" style="margin-left: 0.4em;" onclick="color6_click();"></div><div id="color7" class="color_recommend" style="margin-left: 0.4em;" onclick="color7_click();"></div><div class="color_recommend" id="color8" style="margin-left: 0.4em;" onclick="color8_click();"></div><div class="color_recommend" id="color10" style="margin-left: 0.4em;" onclick="color10_click();"></div>
                            <br><br>
                            <p class="text-nowrap mb-2" style="text-align:left;">레터링</p>
                            <p class="text-nowrap mb-1" style="text-align:left;">
                                <span>색상<input type="color" id="letter_color" value="#ffffff"></span>
                                <span class="ml-2">크기<input type="number" id="letter_size" min="1" max="70"></span>
                            </p>
                            <textarea type="text" id="letter_content" placeholder="텍스트를 입력해주세요"></textarea>
                        </div>
                    </div>
                    <div class="col-10 col-sm-10 col-md-4 col-lg-5 m-4">
                        <div id="cream_circle">
                            <div id="cake_circle">
                                <div id="cake_letter">
                                    <div id="cake_letter_content" class="text-nowrap">
                                        <!-- 여기다가 쓰면 됨  -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <div style="text-align:right;" class="mb-2">-->
<!--                    totalprice원-->
<!--                </div>-->
<!--                <div style="text-align:right;">-->
<!--                    <button type="submit" class="add_btn" onclick="location.href='{% url 'customer:orderList_customer' %}'">주문하기</button>-->
<!--                </div>-->
            </td>
        </tr>
    </table>
    <div style="text-align:right; font-size: 1.1rem; font-weight: bold; color: #ec6161;" class="mb-2">
        최종가격: <span id="totalprice">{{cake.cakePrice}}</span><span>  원</span><input type="hidden" name="total_price" id="total_price" value="" />
    </div>
    <div style="text-align:right;">
<!--        <button type="submit" class="add_btn" onclick="location.href='{% url 'customer:orderList_customer' %}'">주문하기</button>-->
        <button type="submit" class="add_btn">주문하기</button>
    </div>
</form>


<!-- 필수옵션 다 선택되지 않은 상태로 주문하기 누르면 오류 -->
<script>
    function check_submit(){
        var check=0;
        var requiredOption_list = document.getElementsByClassName("requiredOption");

        <!-- 필수옵션을 다 선택하지 않았을 경우 -->
        for(var i=0; i< requiredOption_list.length; i++){
            if(requiredOption_list[i].options[requiredOption_list[i].selectedIndex].value == ""){
                check=1;
                break;
            }
        }
        <!-- 픽업시간을 선택하지 않았을 경우(우선) -->
        var pickupTime = document.getElementById("pickupTime");
        if(pickupTime.options[pickupTime.selectedIndex].value == ""){
            check=2;
        }
        <!-- 경고창 -->
        if(check == 1){
            alert("필수옵션을 다 선택해주세요.");
            return false;
        }
        else if(check == 2){
            alert("픽업 시간을 선택해주세요.");
            return false;
        }
        else
            return true;
    }
</script>

<!-- 최종 가격 계산 -->
<!-- 케이크 1호 가격 + 선택한 필수옵션 + 선택한 선택옵션-->
<!-- -일땐 -해야되고 +일떈 +해야됨 -->
<script>
    function price_cal(){
        var price = Number({{cake.cakePrice}});
        var option_list = document.getElementsByClassName("option");
        var selectedDetailedOption = new Array;
        var detailedOption;

        for(var i=0; i< option_list.length; i++){
            console.log(option_list[i].options[option_list[i].selectedIndex].value);
            selectedDetailedOption.push(option_list[i].options[option_list[i].selectedIndex].value);
        }

        console.log(selectedDetailedOption);
        {% for detailedOption in detailedOptions %}
            detailedOption = "{{detailedOption.detailName}}";
            if(selectedDetailedOption.includes(detailedOption)){
                price += {{detailedOption.pricing}};
            }
        {% endfor %}

        console.log(price);
        document.getElementById("totalprice").innerHTML = price;
        document.getElementById('total_price').setAttribute('value',price);
    }
</script>


<script type="text/javascript" src="/static/js/color.js"></script>

<!--cake color-->
<script>
        $(function(){
            $("#cake_color").on('input', function(){
                // console.log($("#cake_color").val());
                var cake_color = $("#cake_color").val();
                const r = parseInt(cake_color.substr(1,2), 16);
                const g = parseInt(cake_color.substr(3,2), 16);
                const b = parseInt(cake_color.substr(5,2), 16);

<!--                console.log(`cake_color red: ${r}, green: ${g}, blue: ${b}`);-->
                // ctx2.fillStyle = "cake_color";
                document.getElementById('cake_circle').style.backgroundColor = cake_color;

                var comp_rgb = complementaryColor1(r, g, b);
                var comp_r = comp_rgb[0];
                var comp_g = comp_rgb[1];
                var comp_b = comp_rgb[2];
                var comp_hex = '#'+parseInt( (comp_r), 10 ).toString( 16 )+parseInt( (comp_g), 10 ).toString( 16 )+parseInt( (comp_b), 10 ).toString( 16 );

                var tri_rgb = triColor1(r, g, b);
                var tri_r1 = tri_rgb[0];
                var tri_g1 = tri_rgb[1];
                var tri_b1 = tri_rgb[2];
                var tri1_hex = '#'+parseInt( (tri_r1), 10 ).toString( 16 )+parseInt( (tri_g1), 10 ).toString( 16 )+parseInt( (tri_b1), 10 ).toString( 16 );
                var tri_r2 = tri_rgb[3];
                var tri_g2 = tri_rgb[4];
                var tri_b2 = tri_rgb[5];
                var tri2_hex = '#'+parseInt( (tri_r2), 10 ).toString( 16 )+parseInt( (tri_g2), 10 ).toString( 16 )+parseInt( (tri_b2), 10 ).toString( 16 );

                var mono_rgb = monoColor1(r, g, b);
                var mono_r = mono_rgb[0];
                var mono_g = mono_rgb[1];
                var mono_b = mono_rgb[2];
                var mono_r2 = mono_rgb[3];
                var mono_g2 = mono_rgb[4];
                var mono_b2 = mono_rgb[5];
                var mono_hex = '#'+parseInt( (mono_r), 10 ).toString( 16 )+parseInt( (mono_g), 10 ).toString( 16 )+parseInt( (mono_b), 10 ).toString( 16 );
                var mono_hex2 = '#'+parseInt( (mono_r2), 10 ).toString( 16 )+parseInt( (mono_g2), 10 ).toString( 16 )+parseInt( (mono_b2), 10 ).toString( 16 );

                document.getElementById('color5').style.backgroundColor = 'rgb(' + comp_r + ',' + comp_g + ',' + comp_b + ')';
                document.getElementById('color6').style.backgroundColor = 'rgb(' + tri_r1 + ',' + tri_g1 + ',' + tri_b1 + ')';
                document.getElementById('color7').style.backgroundColor = 'rgb(' + tri_r2 + ',' + tri_g2 + ',' + tri_b2 + ')';
                document.getElementById('color8').style.backgroundColor = 'rgb(' + mono_r + ',' + mono_g + ',' + mono_b + ')';
                document.getElementById('color10').style.backgroundColor = 'rgb(' + mono_r2 + ',' + mono_g2 + ',' + mono_b2 + ')';

<!--                도와주세요-->
<!--                document.getElementById('color1').style.backgroundColor = 'rgb(' + 255 + ',' + 255 + ',' + 255 + ')';-->
<!--                document.getElementById('color2').style.backgroundColor = 'rgb(' + 255 + ',' + 255 + ',' + 255 + ')';-->
<!--                document.getElementById('color3').style.backgroundColor = 'rgb(' + 255 + ',' + 255 + ',' + 255 + ')';-->
<!--                document.getElementById('color4').style.backgroundColor = 'rgb(' + 255 + ',' + 255 + ',' + 255 + ')';-->

                document.getElementById( 'color5' ).setAttribute( 'title', `${comp_hex}` );
                document.getElementById( 'color6' ).setAttribute( 'title', `${tri1_hex}` );
                document.getElementById( 'color7' ).setAttribute( 'title', `${tri2_hex}` );
                document.getElementById( 'color8' ).setAttribute( 'title', `${mono_hex}` );
                document.getElementById( 'color10' ).setAttribute( 'title', `${mono_hex2}` );


            })
        })
        function color1_click() {
	          document.getElementById('cake_circle').style.backgroundColor = document.getElementById('color1').style.backgroundColor;
        }
        function color2_click() {
	          document.getElementById('cake_circle').style.backgroundColor = document.getElementById('color2').style.backgroundColor;
        }
        function color3_click() {
	          document.getElementById('cake_circle').style.backgroundColor = document.getElementById('color3').style.backgroundColor;
        }
        function color4_click() {
	          document.getElementById('cake_circle').style.backgroundColor = document.getElementById('color4').style.backgroundColor;
        }
        function color9_click() {
	          document.getElementById('cake_circle').style.backgroundColor = document.getElementById('color9').style.backgroundColor;
        }

</script>

<!--cream color-->
<script>
        $(function(){
            $("#cream_color").on('input', function(){
                // console.log($("#cream_color").val());
                var cream_color = $("#cream_color").val();
                const r = parseInt(cream_color.substr(1,2), 16)
                const g = parseInt(cream_color.substr(3,2), 16)
                const b = parseInt(cream_color.substr(5,2), 16)
                console.log(`cream_color red: ${r}, green: ${g}, blue: ${b}`)
                document.getElementById('cream_circle').style.backgroundColor = cream_color;

                var comp_rgb = complementaryColor1(r, g, b);
                var comp_r = comp_rgb[0];
                var comp_g = comp_rgb[1];
                var comp_b = comp_rgb[2];
                var comp_hex = '#'+parseInt( (comp_r), 10 ).toString( 16 )+parseInt( (comp_g), 10 ).toString( 16 )+parseInt( (comp_b), 10 ).toString( 16 );

                var tri_rgb = triColor1(r, g, b);
                var tri_r1 = tri_rgb[0];
                var tri_g1 = tri_rgb[1];
                var tri_b1 = tri_rgb[2];
                var tri1_hex = '#'+parseInt( (tri_r1), 10 ).toString( 16 )+parseInt( (tri_g1), 10 ).toString( 16 )+parseInt( (tri_b1), 10 ).toString( 16 );
                var tri_r2 = tri_rgb[3];
                var tri_g2 = tri_rgb[4];
                var tri_b2 = tri_rgb[5];
                var tri2_hex = '#'+parseInt( (tri_r2), 10 ).toString( 16 )+parseInt( (tri_g2), 10 ).toString( 16 )+parseInt( (tri_b2), 10 ).toString( 16 );

                var mono_rgb = monoColor1(r, g, b);
                var mono_r = mono_rgb[0];
                var mono_g = mono_rgb[1];
                var mono_b = mono_rgb[2];
                var mono_r2 = mono_rgb[3];
                var mono_g2 = mono_rgb[4];
                var mono_b2 = mono_rgb[5];
                var mono_hex = '#'+parseInt( (mono_r), 10 ).toString( 16 )+parseInt( (mono_g), 10 ).toString( 16 )+parseInt( (mono_b), 10 ).toString( 16 );
                var mono_hex2 = '#'+parseInt( (mono_r2), 10 ).toString( 16 )+parseInt( (mono_g2), 10 ).toString( 16 )+parseInt( (mono_b2), 10 ).toString( 16 );
                console.log(`${mono_r2}`);
                document.getElementById('color1').style.backgroundColor = 'rgb(' + comp_r + ',' + comp_g + ',' + comp_b + ')';
                document.getElementById('color2').style.backgroundColor = 'rgb(' + tri_r1 + ',' + tri_g1 + ',' + tri_b1 + ')';
                document.getElementById('color3').style.backgroundColor = 'rgb(' + tri_r2 + ',' + tri_g2 + ',' + tri_b2 + ')';
                document.getElementById('color4').style.backgroundColor = 'rgb(' + mono_r + ',' + mono_g + ',' + mono_b + ')';
                document.getElementById('color9').style.backgroundColor = 'rgb(' + mono_r2 + ',' + mono_g2 + ',' + mono_b2 + ')';

<!--                도와주세요-->
<!--                document.getElementById('color5').style.backgroundColor = 'rgb(' + 255 + ',' + 255 + ',' + 255 + ')';-->
<!--                document.getElementById('color6').style.backgroundColor = 'rgb(' + 255 + ',' + 255 + ',' + 255 + ')';-->
<!--                document.getElementById('color7').style.backgroundColor = 'rgb(' + 255 + ',' + 255 + ',' + 255 + ')';-->
<!--                document.getElementById('color8').style.backgroundColor = 'rgb(' + 255 + ',' + 255 + ',' + 255 + ')';-->

                document.getElementById( 'color1' ).setAttribute( 'title', `${comp_hex}` );
                document.getElementById( 'color2' ).setAttribute( 'title', `${tri1_hex}` );
                document.getElementById( 'color3' ).setAttribute( 'title', `${tri2_hex}` );
                document.getElementById( 'color4' ).setAttribute( 'title', `${mono_hex}` );
                document.getElementById( 'color9' ).setAttribute( 'title', `${mono_hex2}` );
            })
        })
        function color5_click() {
	          document.getElementById('cream_circle').style.backgroundColor = document.getElementById('color5').style.backgroundColor;
        }
        function color6_click() {
	          document.getElementById('cream_circle').style.backgroundColor = document.getElementById('color6').style.backgroundColor;
        }
        function color7_click() {
	          document.getElementById('cream_circle').style.backgroundColor = document.getElementById('color7').style.backgroundColor;
        }
        function color8_click() {
	          document.getElementById('cream_circle').style.backgroundColor = document.getElementById('color8').style.backgroundColor;
        }
        function color10_click() {
	          document.getElementById('cream_circle').style.backgroundColor = document.getElementById('color10').style.backgroundColor;
        }

</script>

<!--letter color-->
<script>
        $(function(){
            $("#letter_color").on('input', function(){
                console.log($("#letter_color").val());
                var letter_color = $("#letter_color").val();
                document.getElementById('cake_letter_content').style.color = letter_color;
            })
        })

        $(function(){
            $("#letter_size").on('input', function(){
                console.log($("#letter_size").val());
                var letter_size = $("#letter_size").val();
                document.getElementById('cake_letter_content').style.fontSize = letter_size+'px';
            })
        })

        $(function(){
            $("#letter_content").on('input', function(){
                cake_letter_content.innerHTML = letter_content.value;
            })
        })
</script>

{% endblock %}