{% extends 'base_customer.html' %}
{% block title %} :: 케이크 주문 :: {% endblock %}
{% block content %}
   <div class="row">
        <p class="pt-3 pl-4 path">주문하기 > ♥{{store.storeName}}♥에서 나만의 케이크 만들기</p>
    </div>

    <style>
    .color_recommend {
        float: left;
	      border:2px solid #000000;
	      width: 15px;
	      height: 15px;
	      border-radius: 100%;
    }
    #cream_circle {
        background-color:#ffffff;
        border:2px solid #000000;
        width:200px;
        height:200px;
        border-radius:100px;
        text-align:center;
        margin:0 auto;
        font-size:12px;
        vertical-align:middle;

        display: flex;
        justify-content: center;
        align-items: center;
        line-height:150px;
    }

    #cake_circle {
        background-color:#ffffff;
        border:1px solid #000000;
        width:160px;
        height:160px;
        border-radius:80px;
        text-align:center;
        margin:auto;
        font-size:12px;
        color:#fff;
        vertical-align:middle;

        display: flex;
        justify-content: center;
        align-items: center;
        line-height:100px;
    }

    #cake_letter {
        width:190px;
        height:190px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;


    }

    #cake_letter_content{
        /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
        font-size: 25px;
        color: black;
        font-weight: bold;
    }

    #selected_cakeInfo{
        width: 100%;
        height: 60%;
    }

    #lg_tr td:first-child{
        border-right: 2px solid red;
    }

    #lg_tr td:last-child{
        border-bottom: 2px solid red;
    }

    #cakeImg{
        width: 13rem;
        height: 13rem;
        object-fit: contain;
        border: 2px solid lightgray;
    }

    #baker_msg{
        text-align: left;
        display: inline-block;
        border: 2px solid lightgray;
        border-radius: 3px;
        width: 16rem;
        height: 15rem;
        background-color: white;
    }

    #letter_content{
        border: 2px solid lightgray;
        border-radius: 3px;
        height: 5rem;
        width: 15rem;
        background-color: white;
    }

    #color_select{
        margin-left: 100px;
    }

<!--    #color_select p{-->
<!--        padding-bottom: 10px;-->
<!--    }-->

    #color_select p input{
        margin-left: 10px;
    }

<!--    #color_select{-->
<!--        border: 0.15em dashed gray;-->
<!--        border-radius: 3px;-->
<!--    }-->

<!--    td{-->
<!--        white-space: nowrap;-->
<!--    }-->

<!--    #color_select tr:first-child{-->
<!--        border-right: 1px solid gray;-->
<!--    }-->

    .add_btn {
        background-color: #b8b8b8;
        border: 1px solid #b8b8b8;
        border-radius: .2rem;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 1px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 120px;
        height: 1.9em;
    }

    .add_btn:hover {
        background-color: #a7a7a7;
        transition: 0.15s;
    }

    .add_btn:focus {
        outline: none;
    }

    .add_btn:active {
        background-color: #969393;
    }

    select {
        width: 160px;
        height: 35px;
        padding: .6em .5em;
        border: 1px solid #999;
        background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;
        border-radius: 0px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    /* 네이티브 화살표 숨기기 */
    select::-ms-expand {
        display: none;
    }

    </style>

    <table id="selected_cakeInfo" class="mt-4">
<!--        <tr style="width: 12rem;">-->
        <tr id="lg_tr">
            <td rowspan="2" style="text-align: center; width: 30%;">
                <div class="mt-5 m-2">내가 선택한 디자인</div>
                <img id="cakeImg" class="m-1" src="/media/{{cake.cakeImg}}" alt="cake image">
                <div id="cakeInfo" class="m-2">
                    <div class="m-2" style="font-weight: bold;">{{cake.cakeName}}</div>
                    <span>가격 (1호 기준)</span>
                    <span>{{cake.cakePrice}}원</span>
                </div>
                <div class="mt-5 d-flex justify-content-around" style="font-weight: bold;">
                <span>사장님이 전하는 말</span>
                <span style="color: red;">※필독</span>
                </div>
                <span id="baker_msg" class="mt-3 mx-1 p-2">
<!--                  <pre>-->
                    {{store.aboutCake}}
<!--                  </pre>-->
                </span>
            </td>
            <td>
                {% for option in options %}
                {% if option.isNecessary == 1 %}
                <!-- 이게 동적으로 필수옵션 개수 만큼 -->
                <select name="requiredOption" id="requiredOption">
<!--                    필수옵션이름-->
                    <option value="{{option.pk}}">필수옵션: {{option.optionName}}</option>
                    <!-- 이게 동적으로 세부옵션만큼 -->
                    {% for detailedOption in detailedOptions %}
                    {% if detailedOption.option_id == option.pk %}
<!--                    필수상세옵션1-->
                    <option value="{{detailedOption.pk}}">{{detailedOption.detailName}}</option>

                    {% endif %}
                    {% endfor %}

                </select>
                {% endif %}
                {% endfor %}

                {% for option in options %}
                {% if option.isNecessary == 0 %}
                <!-- 이게 동적으로 선택옵션 개수 만큼 -->
                <select name="requiredOption" id="optionalOption">
<!--                    선택옵션이름-->
                   <option value="{{option.pk}}">선택옵션: {{option.optionName}}</option>
                    <!-- 이게 동적으로 세부옵션만큼 -->
                    {% for detailedOption in detailedOptions %}
                    {% if detailedOption.option_id == option.pk %}
<!--                    선택상세옵션1-->
                    <option value="{{detailedOption.pk}}">{{detailedOption.detailName}}</option>

                    {% endif %}
                    {% endfor %}

                </select>
                {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                <div class="ml-3 mt-3 d-flex justify-content-between" style="font-weight:bold;">
                    <span class="text-nowrap">색조합 추천 받기</span>
                </div>
                <div class="ml-3 mt-2">
                    <span style="font-size: 0.9em; color: red; font-weight:bold;" class="text-nowrap">※ 시뮬레이션입니다. 실제 케이크에 적용되지 않습니다!</span>
                </div>
<!--                <div class="ml-4 mt-3" style="font-size: 0.9em; color: red;">-->
<!--                    <div style="text-align:left;">시뮬레이션입니다.</div>-->
<!--                    <div style="text-align:left;">실제 케이크와는 다르니 유의해주세요.</div>-->
<!--                </div>-->
                <div class="row">
                    <div id="color_select" class="col-10 col-sm-10 col-md-5 col-lg-5 m-4" style="text-align:center;">
                        <div style="display: inline-block;">
                            <p class="text-nowrap mb-3 mt-2" style="text-align:left;">케이크색상<input type="color" id="cake_color" value="#ffffff"></p>
                            <div class="color_recommend" id="color1" onclick="color1_click();"></div><div class="color_recommend" id="color2" style="margin-left: 0.4em;" onclick="color2_click();"></div><div class="color_recommend" id="color3" style="margin-left: 0.4em;" onclick="color3_click();"></div><div class="color_recommend" id="color4" style="margin-left: 0.4em;" onclick="color4_click();"></div>
                            <br><br>
                            <p class="text-nowrap mb-3" style="text-align:left;">크림색상<input type="color" id="cream_color" value="#ffffff"></p>
                            <div id="color5" class="color_recommend" onclick="color5_click();"></div><div class="color_recommend" id="color6" style="margin-left: 0.4em;" onclick="color6_click();"></div><div id="color7" class="color_recommend" style="margin-left: 0.4em;" onclick="color7_click();"></div><div class="color_recommend" id="color8" style="margin-left: 0.4em;" onclick="color8_click();"></div>
                            <br><br>
                            <p class="text-nowrap mb-2" style="text-align:left;">레터링</p>
                            <p class="text-nowrap mb-1" style="text-align:left;">
                                <span>색상<input type="color" id="letter_color" value="#ffffff"></span>
                                <span class="ml-2">크기<input type="number" id="letter_size" min="1" max="70"></span>
                            </p>
                            <input type="text" id="letter_content" placeholder="텍스트를 입력해주세요">
                        </div>
                    </div>
                    <!--                        <table id="color_select">-->
<!--                            <tr>-->
<!--                                <td>-->
<!--                                    <p class="text-nowrap">케이크색상<input type="color" id="cake_color" value="#ffffff"></p>-->
<!--                                </td>-->
<!--&lt;!&ndash;                                <td>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <input type="color" id="cake_color" value="#ffffff">&ndash;&gt;-->
<!--&lt;!&ndash;                                </td>&ndash;&gt;-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>-->
<!--                                    <p class="text-nowrap">크림색상<input type="color" id="cream_color" value="#ffffff"></p>-->
<!--                                </td>-->
<!--&lt;!&ndash;                                <td>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <input type="color" id="cream_color" value="#ffffff">&ndash;&gt;-->
<!--&lt;!&ndash;                                </td>&ndash;&gt;-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>-->
<!--                                    <p class="text-nowrap">레터링</p>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>-->
<!--                                    <p class="text-nowrap">-->
<!--                                        <span>색상<input type="color" id="letter_color" value="#ffffff"></span>-->
<!--                                        <span>크기<input type="number" id="letter_size" min="1" max="70"></span>-->
<!--                                    </p>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <input type="text" id="letter_content" placeholder="텍스트">-->
<!--                            </tr>-->
<!--                        </table>-->
                    <div class="col-10 col-sm-10 col-md-4 col-lg-5 m-4">
                        <div id="cream_circle">
                            <div id="cake_circle">
                                <div id="cake_letter">
                                    <div id="cake_letter_content" class="text-nowrap">
                                        <!-- 여기다가 쓰면 됨  -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align:right;" class="mb-2">
                    totalprice원
                </div>
                <div style="text-align:right;">
                    <button type="submit" class="add_btn" onclick="location.href='{% url 'baker:cake_add' %}'">주문하기</button>
                </div>
            </td>
        </tr>
    </table>




    <!-- <div style="border: 1px solid black; position: relative; width:1000; height:1000;">
        <p>케이크색상</p><input type="color" id="cake_color" value="#ffffff">
        <canvas id="cake_form2"  width="1000" height="1000">
            <script>
                const canvas2 = document.querySelector("#cake_form2");
                const ctx2 = canvas2.getContext("2d");
                ctx2.beginPath();
                ctx2.arc(300,300,120,0,Math.PI*2,false);
                ctx2.lineWidth = 3;
                ctx2.fillStyle = "#ffffff";
                ctx2.fill();
                ctx2.stroke();
            </script>
        </canvas>
        <canvas id="cake_form1" width="1000" height="1000">
            <script>
            const canvas1 = document.querySelector("#cake_form1");
            const ctx1 = canvas1.getContext("2d");
            ctx1.beginPath();
            // 원그리기 : context.arc(x,y,반지름, 시작각도, 종료각도, 그리는 방향)
            ctx1.arc(300,300,60,0,Math.PI*2,false);
            ctx1.lineWidth = 3;
            ctx1.fillStyle = "red";
            ctx1.fill();
            ctx1.stroke();
            </script>
        </canvas>          -->

<script type="text/javascript" src="/static/js/color.js"></script>

<!--cake color-->
<script>
        $(function(){
            $("#cake_color").on('input', function(){
                // console.log($("#cake_color").val());
                var cake_color = $("#cake_color").val();
                const r = parseInt(cake_color.substr(1,2), 16);
                const g = parseInt(cake_color.substr(3,2), 16);
                const b = parseInt(cake_color.substr(5,2), 16);

<!--                console.log(`cake_color red: ${r}, green: ${g}, blue: ${b}`);-->
                // ctx2.fillStyle = "cake_color";
                document.getElementById('cake_circle').style.backgroundColor = cake_color;

                var comp_rgb = complementaryColor1(r, g, b);
                var comp_r = comp_rgb[0];
                var comp_g = comp_rgb[1];
                var comp_b = comp_rgb[2];
                var comp_hex = '#'+parseInt( (comp_r), 10 ).toString( 16 )+parseInt( (comp_g), 10 ).toString( 16 )+parseInt( (comp_b), 10 ).toString( 16 );

                var tri_rgb = triColor1(r, g, b);
                var tri_r1 = tri_rgb[0];
                var tri_g1 = tri_rgb[1];
                var tri_b1 = tri_rgb[2];
                var tri1_hex = '#'+parseInt( (tri_r1), 10 ).toString( 16 )+parseInt( (tri_g1), 10 ).toString( 16 )+parseInt( (tri_b1), 10 ).toString( 16 );
                var tri_r2 = tri_rgb[3];
                var tri_g2 = tri_rgb[4];
                var tri_b2 = tri_rgb[5];
                var tri2_hex = '#'+parseInt( (tri_r2), 10 ).toString( 16 )+parseInt( (tri_g2), 10 ).toString( 16 )+parseInt( (tri_b2), 10 ).toString( 16 );

                var mono_rgb = monoColor1(r, g, b);
                var mono_r = mono_rgb[0];
                var mono_g = mono_rgb[1];
                var mono_b = mono_rgb[2];
                var mono_hex = '#'+parseInt( (mono_r), 10 ).toString( 16 )+parseInt( (mono_g), 10 ).toString( 16 )+parseInt( (mono_b), 10 ).toString( 16 );

                document.getElementById('color5').style.backgroundColor = 'rgb(' + comp_r + ',' + comp_g + ',' + comp_b + ')';
                document.getElementById('color6').style.backgroundColor = 'rgb(' + tri_r1 + ',' + tri_g1 + ',' + tri_b1 + ')';
                document.getElementById('color7').style.backgroundColor = 'rgb(' + tri_r2 + ',' + tri_g2 + ',' + tri_b2 + ')';
                document.getElementById('color8').style.backgroundColor = 'rgb(' + mono_r + ',' + mono_g + ',' + mono_b + ')';

<!--                도와주세요-->
<!--                document.getElementById('color1').style.backgroundColor = 'rgb(' + 255 + ',' + 255 + ',' + 255 + ')';-->
<!--                document.getElementById('color2').style.backgroundColor = 'rgb(' + 255 + ',' + 255 + ',' + 255 + ')';-->
<!--                document.getElementById('color3').style.backgroundColor = 'rgb(' + 255 + ',' + 255 + ',' + 255 + ')';-->
<!--                document.getElementById('color4').style.backgroundColor = 'rgb(' + 255 + ',' + 255 + ',' + 255 + ')';-->

                document.getElementById( 'color5' ).setAttribute( 'title', `${comp_hex}` );
                document.getElementById( 'color6' ).setAttribute( 'title', `${tri1_hex}` );
                document.getElementById( 'color7' ).setAttribute( 'title', `${tri2_hex}` );
                document.getElementById( 'color8' ).setAttribute( 'title', `${mono_hex}` );


            })
        })
        function color1_click() {
	          document.getElementById('cake_circle').style.backgroundColor = document.getElementById('color1').style.backgroundColor;
        }
        function color2_click() {
	          document.getElementById('cake_circle').style.backgroundColor = document.getElementById('color2').style.backgroundColor;
        }
        function color3_click() {
	          document.getElementById('cake_circle').style.backgroundColor = document.getElementById('color3').style.backgroundColor;
        }
        function color4_click() {
	          document.getElementById('cake_circle').style.backgroundColor = document.getElementById('color4').style.backgroundColor;
        }

</script>

<!--cream color-->
<script>
        $(function(){
            $("#cream_color").on('input', function(){
                // console.log($("#cream_color").val());
                var cream_color = $("#cream_color").val();
                const r = parseInt(cream_color.substr(1,2), 16)
                const g = parseInt(cream_color.substr(3,2), 16)
                const b = parseInt(cream_color.substr(5,2), 16)
                console.log(`cream_color red: ${r}, green: ${g}, blue: ${b}`)
                document.getElementById('cream_circle').style.backgroundColor = cream_color;

                var comp_rgb = complementaryColor1(r, g, b);
                var comp_r = comp_rgb[0];
                var comp_g = comp_rgb[1];
                var comp_b = comp_rgb[2];
                var comp_hex = '#'+parseInt( (comp_r), 10 ).toString( 16 )+parseInt( (comp_g), 10 ).toString( 16 )+parseInt( (comp_b), 10 ).toString( 16 );

                var tri_rgb = triColor1(r, g, b);
                var tri_r1 = tri_rgb[0];
                var tri_g1 = tri_rgb[1];
                var tri_b1 = tri_rgb[2];
                var tri1_hex = '#'+parseInt( (tri_r1), 10 ).toString( 16 )+parseInt( (tri_g1), 10 ).toString( 16 )+parseInt( (tri_b1), 10 ).toString( 16 );
                var tri_r2 = tri_rgb[3];
                var tri_g2 = tri_rgb[4];
                var tri_b2 = tri_rgb[5];
                var tri2_hex = '#'+parseInt( (tri_r2), 10 ).toString( 16 )+parseInt( (tri_g2), 10 ).toString( 16 )+parseInt( (tri_b2), 10 ).toString( 16 );

                var mono_rgb = monoColor1(r, g, b);
                var mono_r = mono_rgb[0];
                var mono_g = mono_rgb[1];
                var mono_b = mono_rgb[2];
                var mono_hex = '#'+parseInt( (mono_r), 10 ).toString( 16 )+parseInt( (mono_g), 10 ).toString( 16 )+parseInt( (mono_b), 10 ).toString( 16 );

                document.getElementById('color1').style.backgroundColor = 'rgb(' + comp_r + ',' + comp_g + ',' + comp_b + ')';
                document.getElementById('color2').style.backgroundColor = 'rgb(' + tri_r1 + ',' + tri_g1 + ',' + tri_b1 + ')';
                document.getElementById('color3').style.backgroundColor = 'rgb(' + tri_r2 + ',' + tri_g2 + ',' + tri_b2 + ')';
                document.getElementById('color4').style.backgroundColor = 'rgb(' + mono_r + ',' + mono_g + ',' + mono_b + ')';

<!--                도와주세요-->
<!--                document.getElementById('color5').style.backgroundColor = 'rgb(' + 255 + ',' + 255 + ',' + 255 + ')';-->
<!--                document.getElementById('color6').style.backgroundColor = 'rgb(' + 255 + ',' + 255 + ',' + 255 + ')';-->
<!--                document.getElementById('color7').style.backgroundColor = 'rgb(' + 255 + ',' + 255 + ',' + 255 + ')';-->
<!--                document.getElementById('color8').style.backgroundColor = 'rgb(' + 255 + ',' + 255 + ',' + 255 + ')';-->

                document.getElementById( 'color1' ).setAttribute( 'title', `${comp_hex}` );
                document.getElementById( 'color2' ).setAttribute( 'title', `${tri1_hex}` );
                document.getElementById( 'color3' ).setAttribute( 'title', `${tri2_hex}` );
                document.getElementById( 'color4' ).setAttribute( 'title', `${mono_hex}` );
            })
        })
        function color5_click() {
	          document.getElementById('cream_circle').style.backgroundColor = document.getElementById('color5').style.backgroundColor;
        }
        function color6_click() {
	          document.getElementById('cream_circle').style.backgroundColor = document.getElementById('color6').style.backgroundColor;
        }
        function color7_click() {
	          document.getElementById('cream_circle').style.backgroundColor = document.getElementById('color7').style.backgroundColor;
        }
        function color8_click() {
	          document.getElementById('cream_circle').style.backgroundColor = document.getElementById('color8').style.backgroundColor;
        }

</script>

<!--letter color-->
<script>


        $(function(){
            $("#letter_color").on('input', function(){
                console.log($("#letter_color").val());
                var letter_color = $("#letter_color").val();
                document.getElementById('cake_letter_content').style.color = letter_color;
            })
        })

        $(function(){
            $("#letter_size").on('input', function(){
                console.log($("#letter_size").val());
                var letter_size = $("#letter_size").val();
                document.getElementById('cake_letter_content').style.fontSize = letter_size+'px';
            })
        })

        $(function(){
            $("#letter_content").on('input', function(){
                cake_letter_content.innerHTML = letter_content.value;
            })
        })
</script>

{% endblock %}