{% extends 'base_customer.html' %}
{% block title%} ::: 결제 ::: {% endblock %}

{% block content %}

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

<script>
IMP.init('imp07252527');

IMP.request_pay({
    pg : 'inicis', // version 1.1.0부터 지원.
    pay_method : 'card',
    merchant_uid : 'merchant_' + new Date().getTime(),
    name : '{{order.cakeName}}',
<!--    amount : {{order.price}}, //판매 가격-->
    amount : 100,
    buyer_email : '{{customer.email}}',
    buyer_name : '{{customername}}',
    buyer_tel : '{{customer.phoneNum}}'
}, function(rsp) {
     if ( rsp.success ) {
    	$.ajax({
    		url: "{% url 'customer:paySuccess' order.orderNum %}",
    		type: 'POST',
    		dataType: 'json',
    		data: {
	    		imp_uid : rsp.imp_uid
    		}
    	}).done(function(data) {
    		//[2] 서버에서 REST API로 결제정보확인 및 서비스루틴이 정상적인 경우
    		if ( data.works ) {
    			var msg = '결제가 완료되었습니다.';
    			msg += '\n고유ID : ' + rsp.imp_uid;
    			msg += '\n상점 거래ID : ' + rsp.merchant_uid;
    			msg += '\결제 금액 : ' + rsp.paid_amount;
    			msg += '카드 승인번호 : ' + rsp.apply_num;

    			alert(msg);

    			$(location).attr('href', '{% url 'customer:paySuccess' order.orderNum %}')

    		} else {
    			//[3] 아직 제대로 결제가 되지 않았습니다.
    			//[4] 결제된 금액이 요청한 금액과 달라 결제를 자동취소처리하였습니다.
    		}
    	});
    } else {
        var msg = '결제에 실패하였습니다.';
        msg += '에러내용 : ' + rsp.error_msg;

        alert(msg);
    }
});

</script>

{% endblock %}