{% extends 'base_customer.html' %}

{% block content %}
<link rel="stylesheet" href="/static/css/showCakes.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
body {
    min-height: 75rem;
    padding-top: 4.5rem;
    background-color: #fffcfa;
    box-sizing : border-box;
    font-family : DX경필명조B;
}
</style>

<div style="font-size: 0.9rem;">
  <div class="row">
<!--        '가게 선택 완료'보다는 선택한 가게 이름이 보여지게 하기. 나중에 백엔드에서 넘어오는 객체 이름 보고 적기.-->
        <p class="pt-3 pl-4 path">주문하기 > 가게 선택 > 케이크 선택</p>
  </div>
</div>


<div class="row">

<!--    가게 정보-->
  {% for store in store_list %}

    <div class="container">
        <div class="row row-eq-height justify-content-around mt-3" style="height:20%">
            <div class="col-10 col-sm-5 col-md-4" style="border: 1px solid red;">
                <div class="d-block justify-content-center" style="border: 1px solid green;">
                <!-- 가게로고 -->
                    <div class="d-inline-block" style="border: 1px solid purple;">
                        <img src="/media/{{store.storeImg}}" alt="store image" width="40">
                    </div>
                <!-- 가게명 -->
                    <div class="d-inline-block" id="storeName">
                        {{store.storeName}}
                    </div>
                </div>
                <div class="d-block justify-content-center" style="border: 1px solid green;">
                <!-- 선택한 픽업날짜 -->

                </div>
            </div>
            <div class="col-10 col-sm-10 col-md-7" id="store_intro">
                <!-- 가게소개 -->
                <div class="mt-3">
                    {{store.aboutStore}}
                </div>
                <hr>
                <!-- 픽업시작시간, 픽업마감시간 -->
                <div id="storeInfo">
                    <div>
                         <span>픽업시간: </span>{{store.pickUpOpen}} <span>~</span>{{store.pickUpClose}}
                    </div>
                    <!-- 가게위치 -->
                    <div>
                        <span>가게위치: </span>{{store.location}}
                    </div>
                    <!-- 전화번호 -->
                    <div class="mb-3">
                        <span>전화번호: </span>{{store.storeContact}}
                    </div>
                </div>
            </div>



        </div>
<!--          <div class="embed-responsive embed-responsive-1by1">-->
<!--            <img class="embed-responsive-item" src="/media/{{store.storeImg}}" alt="store image">-->
<!--          </div>-->
<!--        {{store.storeName}}-->
<!--        {{store.aboutStore}}-->
<!--        {{store.storeContact}}-->
<!--        {{store.location}}-->
<!--        {{store.pickUpOpen}}-->
<!--            {{store.pickUpClose}}-->

    <!--    {{store}}-->
    </div>
  {% endfor %}


</div>


<hr width="1" size="500">


<div class="form-group">
<!--   가게 케이크들 -->
 <div class="album py-3">

  <div class="container pt-3">
    <div class="row row-eq-height">

<!--      'cakeName', 'cakeImg', 'cakePrice', 'mini'-->
      {% for cake in cake_list %}
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <div class="card mb-3">
          <div class="image-block card-img-top embed-responsive embed-responsive-1by1">
            <img class="embed-responsive-item" src="/media/{{cake.cakeImg}}" alt="cake image">
          </div>
          <div class="card-body">
            <div class="pt-1">
                <p class="card-text" style="text-align: center;">{{cake.cakeName}}</p>
              <div class="d-flex justify-content-around row ">
                <span class="card-text gray">가격 (1호 기준)</span>
                <span>{{cake.cakePrice}}원</span>
              </div>
<!--              <hr>-->
              <div class="d-flex justify-content-around row">
                <span class="card-text">미니사이즈</span>
                <span class="mini_text">{{cake.mini}}</span>
              </div>
            </div>
            <div class="d-flex justify-content-center pt-3">
              <form method = "POST" action = "#" >
                  {% csrf_token %}
<!--                  <input type="hidden" name="_method" value="order" />-->
                  <button id="order_btn" onclick="location.href='{% url 'customer:cakeOrder' cake.pk %}'">주문하기</button>
              </form>
            </div>
          </div>
        </div>
        <br>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</div>

{% endblock %}