{% extends 'base_customer.html' %}
{% block title %} :: 후기 작성하기 :: {% endblock %}
{% block content %}
<div class="taste text-center">
    <div class="mt-3">맛 평점</div>
  <span class="starR on" id="taste_star1">별1</span>
  <span class="starR" id="taste_star2">별2</span>
  <span class="starR" id="taste_star3">별3</span>
  <span class="starR" id="taste_star4">별4</span>
  <span class="starR" id="taste_star5">별5</span>
</div>
<hr>
<div class="service text-center">
    <div class="mt-3">서비스 평점</div>
  <span class="starR on" id="service_star1">별1</span>
  <span class="starR" id="service_star2">별2</span>
  <span class="starR" id="service_star3">별3</span>
  <span class="starR" id="service_star4">별4</span>
  <span class="starR" id="service_star5">별5</span>
</div>
<hr>
<div class="design text-center">
    <div class="mt-3">디자인 평점</div>
  <span class="starR on" id="design_star1">별1</span>
  <span class="starR" id="design_star2">별2</span>
  <span class="starR" id="design_star3">별3</span>
  <span class="starR" id="design_star4">별4</span>
  <span class="starR" id="design_star5">별5</span>
</div>
<style>
    .starR{
  background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
  background-size: auto 100%;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-indent: -9999px;
  cursor: pointer;
}
.starR.on{background-position:0 0;}
</style>

<!--taste-->
<script>
    var taste=1;
    $('.taste span').click(function(){
      $(this).parent().children('span').removeClass('on');
      $(this).addClass('on').prevAll('span').addClass('on');
      return false;
    });
    $('#taste_star1').click(function(){
        taste=1;
    });
    $('#taste_star2').click(function(){
        taste=2;
    });
    $('#taste_star3').click(function(){
        taste=3;
    });
    $('#taste_star4').click(function(){
        taste=4;
    });
    $('#taste_star5').click(function(){
        taste=5;
    });
</script>

<!--service-->
<script>
    var service=1;
    $('.service span').click(function(){
      $(this).parent().children('span').removeClass('on');
      $(this).addClass('on').prevAll('span').addClass('on');
      return false;
    });
    $('#star1').click(function(){
        service=1;
    });
    $('#star2').click(function(){
        service=2;
    });
    $('#star3').click(function(){
        service=3;
    });
    $('#star4').click(function(){
        service=4;
    });
    $('#star5').click(function(){
        service=5;
    });
</script>

<!--design-->
<script>
    var design=1;
    $('.design span').click(function(){
      $(this).parent().children('span').removeClass('on');
      $(this).addClass('on').prevAll('span').addClass('on');
      return false;
    });
    $('#design_star1').click(function(){
        design=1;
    });
    $('#design_star2').click(function(){
        design=2;
    });
    $('#design_star3').click(function(){
        design=3;
    });
    $('#design_star4').click(function(){
        design=4;
    });
    $('#design_star5').click(function(){
        design=5;
    });
</script>
{% endblock %}