@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }


    /* .vp_text{
    font-size: 4vw;
  } */

  .inline_block{
    display: inline-block;
  }

  .underline{
    text-decoration: underline;
  }

  .card{
    border: 1px solid #8e8e8e;
  }

  .card-body{
    font-size: 0.9em;
    background-color: #f5efef;
    padding: 1rem;
  }
  /* font-size: 4vw; */

  .card-text{
    color:#929292;
  }

  .image-block{
    position: relative;
  }

  .image-block img {
    /* filter: grayscale(100%); */
    /* opacity: 1; */
    transition:.5s ease;
    /* vertical-align: middle; */
  }

  .edit_text{
    transition:.15s ease;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* color: #000000; */
    font-size: 1.3em;
    position: absolute;
    text-align: center;
  }

  .edit_text>a{
    text-decoration:none;
    color: black;
  }

  .image-block:hover img{
    opacity: 0.6;
  }

  .image-block:hover .edit_text{
    opacity: 1;
  }

  .gray{
    color:#929292;
  }

  .add_btn{
      transition:.15s ease;
      border: 1px solid #a5a5a5;
      background-color:white;
      color: #a5a5a5;
      width: 150px;
      height: 1.9em;
      border-radius: 2px;
  }

  .add_btn:hover {
    background-color: #a5a5a5;
    /*background-color: #903838;*/
    color: white;
  }

  .delete_btn{
    transition:.15s ease;
    border: 1px solid #cf8484;
    background-color:white;
    color: #cc5f5f;
    width: 90%;
    height: 1.7em;
    border-radius: 2px;
  }

  .delete_btn:hover {
    background-color: #cf8484;
    color: white;
  }