@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic Coding+Coding&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    min-height: 75rem;
    padding-top: 4.5rem;
    background-color: #fffcfa;
    box-sizing : border-box;
    font-family : 'Nanum Gothic Coding', monospace;
}

*{
    font-family: 'Nanum Gothic Coding', monospace;
}

/* .jumbotron{
    margin-top: 500px;
} */

.nav{
    font-family : 'Nanum Gothic Coding', monospace;
}

.navbar-nav>li>a {
    font-size: 15px;
    padding-top: 13px;
    padding-bottom: 10px;
}

.dropdown-item{
  font-size: 0.9em;
}

.navbar-brand {
    float: left;
    height: 40px;
    line-height: 20px;
    padding: 0;
}

.content img{
    width:400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name{
    background-color: rgb(225, 189, 189);
    text-align: right;
    font-size: small;
    padding-right: 20px;
}
/* @media (min-width: 768px) {
    .content img {
      width:300px;
    }
} */

/* .jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color:red;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  .jumbotron p:last-child {
    margin-bottom: 0;
  }

  .jumbotron h1 {
    font-weight: 300;
  }

  .jumbotron .container {
    max-width: 40rem;
  }

  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  footer p {
    margin-bottom: .25rem;
  } */

/* .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  } */
