/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*
.container{
}
*/

#date {
  width: 200px;
  padding: .8em .5em;
  border: 1px solid #999;
  font-family: inherit;
  background: #ffffff;
  border-radius: 0px;
}

input[type=date]::-ms-clear {
  display: none;
}

.location_select {
  width: 200px;
  padding: .8em .5em;
  border: 1px solid #999;
  font-family: inherit;
  background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;
  border-radius: 0px;
  /* 네이티브 모형 감추기 */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-right: 30px;
}

/* 네이티브 화살표 숨기기 */
select::-ms-expand {
    display: none;
}

.button {
    background-color: #b5b5b5;
    border:none;
    color:white;
    padding: 9px 43px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 0px;
}

#selectbox_letter {
    color:#838383;
    font-size:15px;
    text-align: right;
}

.form-group {
    /*position: relative;*/
    margin: 5% 20%;
}

#store_name{
    text-align: center;
    font-size: 1.3em;
    color: black;
}

#select_btn{
    transition:.15s ease;
    border: 1px solid #cf8484;
    background-color:white;
    color: #cc5f5f;
    width: 90%;
    height: 1.7em;
    border-radius: 2px;
}

#select_btn:hover {
    background-color: #cf8484;
    color: white;
}
/*
.gray{
    color:#929292;
}
*/


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

.card{
    border: 1px solid #8e8e8e;
}

.card-body{
    font-size: 0.9em;
    background-color: #f5efef;
    padding: 1rem;
}

