{% extends 'base_baker.html' %}

{% block content %}

<link rel="stylesheet" href="/static/css/options.css">

<style>
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

    #addOption{
        width: 95%;
        margin: auto;
        text-align: right;
    }

    table {
        font-size: 0.9em;
        width: 95%;
        margin: auto;
        border-top: 2px solid gray;
        border-bottom: 2px solid gray;
    }

    .option {
        width:20%;
        font-size: 0.95rem;
        background-color: lightgray;
        text-align: center;
        border-right: 2px solid gray;
        border-bottom: 2px solid gray;
    }

     @media (min-width: 1000px) {
        #addOption {
            width: 90%;
        }
        table{
            width: 90%;
        }
        .option {
            width: 15%
        }
     }

    .optionInfo {
        border-bottom: 1px solid gray;
    }

    .detailInfo {
        border-bottom: 2px solid gray;
    }

    td {
        rgba(255, 255, 255, 0.5);
        padding: 5px 10px;

    }

    .requiredOption{
        font-weight: bold;
        color: #f95a5a;
    }

    .button {
        background-color: #b8b8b8;
        border: 1px solid #b8b8b8;
        border-radius: .2rem;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 1px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 120px;
        height: 1.9em;
    }

    .button:hover {
        background-color: #a7a7a7;
        transition: 0.15s;
    }

    .button:focus {
        outline: none;
    }

    .button:active {
        background-color: #969393;
    }

    .apply_btn {
        background-color: #747474;
        height: 2.2em;
    }

    .apply_btn:hover {
        background-color: #656565;
        transition: 0.15s;
    }

    .apply_btn:active {
        background-color: #4f4f4f;
    }


    .addDetail_btn{
        background-color: white;
        border: 1px solid #8572fc;
        border-radius: .2rem;
        color: #8572fc;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 1px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .addDetail_btn:hover{
        background-color: #b6aaff;
        color: white;
        transition: 0.15s;
    }

    .addDetail_btn:focus {
        outline: none;
    }

    .addDetail_btn:active {
        background-color: #a192ff;
    }

    .deleteOption_btn{
        background-color: white;
        border: 1px solid #ff6e6e;
        border-radius: .2rem;
        color: #ff6e6e;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 1px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .deleteOption_btn:hover{
        background-color: #ffa3a3;
        color: white;
        transition: 0.15s;
    }

    .deleteOption_btn:focus {
        outline: none;
    }

    .deleteOption_btn:active {
        background-color: #ff8f8f;
    }

    .deleteDetail_btn{
        border: none;
        background-color: transparent;
    }

    .deleteDetail_btn:focus {
        outline: none;
    }

    .deleteDetail_btn > img {
        opacity: 0.6;
        background-color: white;
    }

    .deleteDetail_btn > img:hover {
        opacity: 0.8;
        transition: 0.15s;
        background-color: #e9e7e7;
    }

    .deleteDetail_btn > img:active {
        background-color: #d2d2d2;
    }

<!--    .margin_left {-->
<!--        margin-left: 5%;-->
<!--    }-->

    input{

    }
    input:focus {
        outline: none;
    }
<!--    input:focus {-->
<!--        outline: 0.5px solid black;-->
<!--    }-->

</style>


<div style="font-size: 0.9rem;">
  <div class="row">
        <p class="pt-3 pl-4 path">케이크 관리 > 케이크 옵션 관리</p>
  </div>
</div>

<!-- 옵션추가 button -->
<div id="addOption" class="mt-3">
    <button type="button" class="addOption_btn button" onclick="addOption()">옵션 추가</button>
</div>
<!-- 테이블 -->
<table id="table" class="my-2">
    <!-- 동적으로 옵션 추가 가능해야 -->
        <tr id="option_row">
            <td class="option text-nowrap" rowspan="2">옵션</td> <!--가운데정렬 왜 나만 안돼-->
            <td class="optionInfo text-nowrap">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <!-- 옵션명 input -->
                        <input type="text" name="optionName" placeholder="옵션명(10자리 이하)" maxlength="10" size="27">
                        <!-- 필수옵션입니다 checkbox -->
                        <span class="ml-3 mr-1 requiredOption">필수옵션입니까?</span> <input type="checkbox" class="isRequired" name="isRequired" value="필수옵션입니까" style="font-size: 0.8em;">
                    </div>
                    <div>
                        <!-- 세부항목 추가 button -->
                        <button type="button" class="addDetail_btn ml-3" onclick="addDetail()">세부항목 추가</button>
                        <!-- 옵션삭제 button -->
                        <button type="button" class="deleteOption_btn" onclick="deleteOption()">옵션 삭제</button>
<!--                        <button type="button" class="deleteOption_btn">옵션 삭제</button>-->
                    </div>
                </div>
            </td>
        </tr>
        <tr id="detail_row">
            <td class="detailInfo">
                <!-- 동적으로 세부항목 추가 가능해야 -->
                <div class="mt-2 mb-3">
                    <span class="ml-3 mr-1">색상판</span> <input type="checkbox" class="color_check" name="color_check" value="색상판" style="font-size: 0.8em;">
                    <span class="ml-4 mr-1">이미지 업로드</span> <input type="checkbox" class="img_check" name="img_check" value="이미지 업로드" style="font-size: 0.8em;">
                </div>
                <!-- 이게 기본 -->
                <div id="detail">
                    <div id="detail_obj" class="row text-nowrap align-items-center ml-1 my-2">
                        <!-- 세부항목 이름 input -->
                        <span class="ml-1 mr-3">종류</span><input type="text" name="detailName" placeholder="세부항목(10자리 이하)" maxlength="10" size="23">
                        <!-- 세부항목 추가금액 input -->
                        <span class="ml-3 mr-3">추가금액</span><input type="number" name="extraCost" placeholder="숫자만 입력해주세요.">
                        <!-- 세부항목 삭제 button -->
                        <span class="img">
                            <a class="deleteDetail_btn ml-2" onclick="deleteDetail()">
                                <img src="/static/img/delete.png" alt="세부항목 삭제" width="21em">
                            </a>
                        </span>
                    </div>
                </div>
            </td>
        </tr>
</table>
<!-- 적용 버튼 -->
<div id="submit" class="mt-5 d-flex justify-content-center align-items-center">
    <button class="apply_btn button">적용하기</button>
</div>




<script type="text/javascript">
    <!-- 처음건 버튼이 존재하지 않음 -->
    $(document).ready(function(){
        $('.img').hide();
    });
</script>

<!-- 옵션 숫자 매기기(선택) -->

<!-- 옵션 추가 -->
<script type="text/javascript">
    var option_row = document.getElementById('option_row').innerHTML;
    var detail_row = document.getElementById('detail_row').innerHTML;

    function addOption(){
        $('#table').append('<tr>' + option_row + '</tr>');
        $('#table').append('<tr>' + detail_row + '</tr>');

        <!-- 각 옵션마다 첫 번째 엑스 버튼 이미지가 없어야함 -->
        $('.detailInfo:last() > #detail > #detail_obj > .img:eq(0)').hide();
    }
</script>


<!-- 옵션 삭제 -->
<script type="text/javascript">
    function deleteOption(){
        console.log($(this).length);
        var _tr = $(this).closest("tr");
<!--        var _tr2 = _tr.next("tr")-->
        console.log(_tr.length);
<!--        console.log(_tr2);-->
<!--        _tr2.remove();-->
        _tr.remove();
    }







<!--        var eventTarget = document.getElementsByClassName('deleteOption_btn');-->
<!--        for(var i=0; i<eventTarget.length; i++) {-->
<!--            eventTarget[i].addEventListener('click', function() {-->
<!--                var parent = document.querySelector('#table')-->
<!--                if(i>1){-->
<!--                    console.log('해당 행을 삭제합니다.');-->
<!--                    parent.removeChild(this.parentElement.parentElement.parentElement.parentElement)-->
<!--                    parent.removeChild(this.parentElement.parentElement.parentElement.parentElement.nextSibling)-->
<!--                    i&#45;&#45;-->
<!--                }-->
<!--                else{-->
<!--                    console.log('마지막 옵션은 삭제 불가능합니다.');-->
<!--                }-->
<!--            });-->
<!--        }-->



<!--        var clickedBtn = this;-->
<!--        if(clickedBtn){-->
<!--             console.log(clickedBtn);-->
<!--             $(clickedBtn).closest("tr").remove();-->
<!--             clickedBtn = null; // not necessary-->
<!--        }-->

<!--        var _tr = $(this).closest('tr')-->
<!--        var _tr2 = _tr.siblings();-->
<!--        console.log(_tr);-->
<!--        console.log(_tr2.length);-->
<!--        console.log($(this));-->
<!--        console.log(this);-->

<!--        _tr.remove();-->
<!--        _tr2.remove();-->


<!--        console.log(this.parentElement.parentElement.parentElement.parentElement);-->
<!--        var _tr = this.parentElement.parentElement.parentElement.parentElement;-->
<!--        var _tr2 = this.parentElement.parentElement.parentElement.parentElement.nextSibling;-->
<!--        _tr.remove();-->
<!--        _tr2.remove();-->

</script>



<!-- 세부옵션 추가 -->
<script type="text/javascript">
    var html_detail = document.getElementById('detail').innerHTML;

    $('.addDetail_btn').on
    function addDetail(){
<!--        $('#detail').append(html_detail);-->
        $(this).closest('tr').find('#detail').first().append(html_detail);
    }
</script>

<!-- 세부옵션 삭제 -->
<script type="text/javascript">
    function deleteDetail(obj){
<!-- var html = document.($(this).closest('div')).innerHTML;-->
        document.write($(this).closest('div'));
        $(this).closest('div').remove();
    }
</script>




<!--    <form action="" method="POST">-->
<!--        {% csrf_token %}-->
<!--        <table>-->
<!--            {{form.as_table}}-->
<!--        </table>-->
<!--        <input type="submit" value="제출">-->
<!--    </form>-->



<!--<tbody>-->
<!--    <tr>-->
<!--        <td>1</td>-->
<!--        <td>John</td>-->
<!--        <td class="text-center">-->
<!--            <p data-placement="top" data-toggle="tooltip" title="Delete">-->
<!--                <button class="btn btn-danger btn-xs deletebtn" data-title="Delete" data-toggle="modal" data-target="#deletemodal">-->
<!--                    <span class="glyphicon glyphicon-trash"></span>-->
<!--                </button>-->
<!--            </p>-->
<!--        </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>2</td>-->
<!--        <td>Mary</td>-->
<!--        <td class="text-center">-->
<!--            <p data-placement="top" data-toggle="tooltip" title="Delete">-->
<!--                <button class="btn btn-danger btn-xs deletebtn"-->
<!--                    data-title="Delete" data-toggle="modal"-->
<!--                    data-target="#deletemodal">-->
<!--                    <span class="glyphicon glyphicon-trash"></span>-->
<!--                </button>-->
<!--            </p>-->
<!--        </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>3</td>-->
<!--        <td>Jane</td>-->
<!--        <td class="text-center">-->
<!--            <p data-placement="top" data-toggle="tooltip" title="Delete">-->
<!--                <button class="btn btn-danger btn-xs deletebtn" data-title="Delete" data-toggle="modal" data-target="#deletemodal">-->
<!--                    <span class="glyphicon glyphicon-trash"></span>-->
<!--                </button>-->
<!--            </p>-->
<!--        </td>-->
<!--    </tr>-->
<!--</tbody>-->

<!--$(function(){-->
<!--     var clickedBtn = null;-->
<!--     $(".deletebtn").click(function(){-->
<!--       clickedBtn = this;-->

<!--       // show the modal dialog-->
<!--     });-->

<!--     $("#confirmdeletebtn").click(function(){-->
<!--       if(clickedBtn){ // make sure we have assigned a reference-->
<!--         $(clickedBtn).closest("tr").remove();-->
<!--         clickedBtn = null; // not necessary-->

<!--         // close the modal dialog.-->
<!--       }-->
<!--     });-->

<!--     // add listeners for the close and abort buttons of the modal dialog if not already handeled by bootstrap or whatever you're using.-->
<!--});-->
{% endblock %}