{% extends 'base_baker.html' %}

{% block content %}

<style>
    #addOption{
        width: 95%;
        margin: auto;
        text-align: right;
    }

    table {
        font-size: 0.9em;
        width: 95%;
        margin: auto;
        border-top: 2px solid #a7a7a7;
        border-bottom: 2px solid #a7a7a7;
    }

    .option {
        width:20%;
        font-size: 0.95rem;
        background-color: #f0f0f0;
        text-align: center;
        vertical-align: middle;
        border-right: 2px solid #a7a7a7;
        border-bottom: 2px solid #a7a7a7;
    }

     @media (min-width: 1000px) {
        #addOption {
            width: 90%;
        }
        table{
            width: 90%;
        }
        .option {
            width: 15%
        }
     }

    .optionInfo {
        border-bottom: 1px solid #a7a7a7;
<!--        background-color: #f5efefb3;-->
    }

    .detailInfo {
        border-bottom: 2px solid #a7a7a7;
<!--        background-color: #f5efefb3;-->
    }

    td {
        rgba(255, 255, 255, 0.5);
        padding: 5px 10px;

    }

    .requiredOption{
        font-weight: bold;
        color: #f95a5a;
    }

    .optionalOption{
        font-weight: bold;
        color: #5a7af9;
    }

    .button {
        background-color: #b8b8b8;
        border: 1px solid #b8b8b8;
        border-radius: .2rem;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 1px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 120px;
        height: 1.9em;
    }

    .button:hover {
        background-color: #a7a7a7;
        border: 1px solid #a7a7a7;
        transition: 0.15s;
    }

    .button:focus {
        outline: none;
    }

    .button:active {
        background-color: #969393;
    }

    .apply_btn {
        background-color: #747474;
        border: 1px solid #747474;
        height: 2.2em;
    }

    .apply_btn:hover {
        background-color: #656565;
        border: 1px solid #656565;
        transition: 0.15s;
    }

    .apply_btn:active {
        background-color: #4f4f4f;
    }

    .addDetail_btn{
        background-color: white;
        border: 1px solid #8572fc;
        border-radius: .2rem;
        color: #8572fc;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 1px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .addDetail_btn:hover{
        background-color: #b6aaff;
        border: 1px solid #b6aaff;
        color: white;
        transition: 0.15s;
    }

    .addDetail_btn:focus {
        outline: none;
    }

    .addDetail_btn:active {
        background-color: #a192ff;
    }

    .deleteOption_btn{
        background-color: white;
        border: 1px solid #ff6e6e;
        border-radius: .2rem;
        color: #ff6e6e;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 1px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .deleteOption_btn:hover{
        background-color: #ffa3a3;
        border: 1px solid #ffa3a3;
        color: white;
        transition: 0.15s;
    }

    .deleteOption_btn:focus {
        outline: none;
    }

    .deleteOption_btn:active {
        background-color: #ff8f8f;
    }

    .deleteDetail_btn{
        border: none;
        background-color: transparent;
    }

    .deleteDetail_btn:focus {
        outline: none;
    }

    .deleteDetail_btn > img {
        opacity: 0.6;
        background-color: white;
    }

    .deleteDetail_btn > img:hover {
        opacity: 0.8;
        transition: 0.15s;
        background-color: #e9e7e7;
    }

    .deleteDetail_btn > img:active {
        background-color: #d2d2d2;
    }

<!--    .margin_left {-->
<!--        margin-left: 5%;-->
<!--    }-->

    input{

    }
    input:focus {
        outline: none;
    }
<!--    input:focus {-->
<!--        outline: 0.5px solid black;-->
<!--    }-->


<!--    .vertical_line {-->
<!--        padding-right: 1em;-->
<!--        border-right: 1.5px solid black;-->
<!--    }-->

    #detail_table{
        width: 80%;
        float: left;
        border-top: 2px solid gray;
        border-bottom: 2px solid gray;
        margin-bottom: 0;
        background-color: #faf6f675;
    }

    .detail_tableHeader{
        font-size: 1.1em;
        padding: 0.5em 0.8em !important;
        font-weight: bold;
        color: black;
        border-bottom: 1px solid gray;
        width: 50%;
    }

    .detailContent{
        font-size: 1.1em;
        padding: 0.6em !important;
    }

</style>


<div style="font-size: 0.9rem;">
  <div class="row">
        <p class="pt-3 pl-4 path">케이크 관리 > 케이크 옵션 관리</p>
  </div>
</div>

<!-- 옵션추가 button -->
<div id="addOption" class="mt-3">
<!--    <button type="button" class="addOption_btn button" onclick="addOption()">옵션 추가</button>-->
    <button type="button" class="addOption_btn button" onclick="location.href='{%url 'baker:option_add' %}'">옵션 추가</button>
</div>
<!-- 테이블 -->
<table id="table" class="my-2">

<!-- 현재 존재하는 모든 옵션 띄우기 -->
    <!-- 동적으로 옵션 추가 가능해야 -->
        {% for option in option_list %}
        <tr id="option_row">
            <td class="option text-nowrap" rowspan="2">옵션</td> <!--가운데정렬 왜 나만 안돼-->
            <td class="optionInfo text-nowrap">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <!-- 옵션명 input -->
                        <span style="font-size: 1.2em; font-weight: bold;">{{option.optionName}}</span>
<!--                        <span style="display: inline-block; width:12em; height: 1.7em; border: 2px solid lightgray; border-radius:2px; line-height: 1.5em;">옵션명옵션명옵옵션명</span>-->
<!--                        <input type="text" name="optionName" placeholder="옵션명(10자리 이하)" maxlength="10" size="27">-->
                        <!-- 필수옵션입니다 checkbox 대신 필수옵션입니다/ 선택옵션입니다. -->

<!--                        <span class="ml-3 mr-1 requiredOption">필수옵션입니까?</span> <input type="checkbox" class="isRequired" name="isRequired" value="필수옵션입니까" style="font-size: 0.8em;" disabled>-->
                    </div>
                    <div>
<!--                        <span class="ml-5 mr-1 requiredOption"> 필수옵션입니다. </span>-->
                        <!-- 세부항목 추가 button -->
                        {% if option.isNecessary == 1 %}
                        <span class="optionalOption mr-5" style="font-weight:bold; color: red;">
                            필수옵션입니다
                        </span>
                        {% endif %}
                        {% if option.isNecessary != 1 %}
                        <span class="optionalOption mr-5" style="font-weight:bold;">
                            선택옵션입니다
                        </span>
                        {% endif %}
<!--                        <button type="button" class="addDetail_btn ml-3" onclick="location.href='{% url 'baker:option_edit' option.pk %}'">옵션 수정</button>-->
                        <!-- 옵션삭제 button -->
                        <button type="button" class="deleteOption_btn" onclick="location.href='{% url 'baker:option_delete' option.pk %}'">옵션 삭제</button>
<!--                        <button type="button" class="deleteOption_btn">옵션 삭제</button>-->
                    </div>
                </div>
            </td>
        </tr>
        <tr id="detail_row">
            <td class="detailInfo">
                <!-- 동적으로 세부항목 추가 가능해야 -->
                <!-- 색상판, 이미지업로드 유무 (Ex. 색상판: 유, 이미지업로드: 무)-->
                <div class="mt-2 mb-3">
                    <span class="ml-2 mr-1">색상판:</span><span class="ml-2" style="font-weight: bold;">
                        {% if option.withColor == 1 %}
                        필요
                        {% endif %}
                        {% if option.withColor != 1 %}
                        불필요
                        {% endif %}
                </span>
<!--                    <span class="ml-3 mr-1">색상판</span> <input type="checkbox" class="color_check" name="color_check" value="색상판" style="font-size: 0.8em;" disabled>-->
                    <span class="ml-4 mr-1">이미지 업로드:</span><span class="ml-2" style="font-weight: bold;">
                        {% if option.withImage == 1 %}
                        필요
                        {% endif %}
                        {% if option.withImage != 1 %}
                        불필요
                        {% endif %}
                </span>
<!--                    <span class="ml-4 mr-1">이미지 업로드</span> <input type="checkbox" class="img_check" name="img_check" value="이미지 업로드" style="font-size: 0.8em;" disabled>-->
                </div>
                <!-- 이게 기본 -->
                <div id="detail">
                    <table id="detail_table" class="table mt-1">
                        <tr>
                            <th scope="col" class="detail_tableHeader">종류</th>
                            <th scope="col" class="detail_tableHeader">추가금액</th>
                        </tr>
                        <div id="detail_Info">
                            <!-- 이 안에 추가정보 가져오면 됨 -->
                            {% for detail in detail_list %}
                            {% if detail.option == option %}

                            <tr class="detail_content" >
                                <th class="text-nowrap detailContent">{{detail.detailName}}</th>
                                <th class="text-nowrap detailContent">{{detail.pricing}}</th>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </table>
                </div>
            </td>
        </tr>
        {% endfor %}
</table>
<!-- 적용 버튼 -->
<!--<div id="submit" class="mt-5 d-flex justify-content-center align-items-center">-->
<!--    <button class="apply_btn button">적용하기</button>-->
<!--</div>-->


<!-- 전체옵션을 보는 화면에서는 필수옵션, 색상판, 이미지업로드의 체크 유무에 따라서 멘트가 써있어야 함.  -->
<script type="text/javascript">

</script>

<!-- 옵션 숫자 매기기(선택) -->

<!-- 옵션 추가 -->
<script type="text/javascript">
    var option_row = document.getElementById('option_row').innerHTML;
    var detail_row = document.getElementById('detail_row').innerHTML;

    function addOption(){
        $('#table').append('<tr>' + option_row + '</tr>');
        $('#table').append('<tr>' + detail_row + '</tr>');

        <!-- 각 옵션마다 첫 번째 엑스 버튼 이미지가 없어야함 -->
        $('.detailInfo:last() > #detail > #detail_obj > .img:eq(0)').hide();
    }
</script>


<!--&lt;!&ndash; 옵션 삭제 &ndash;&gt;-->
<!--<script type="text/javascript">-->
<!--    function deleteOption(){-->
<!--        console.log($(this).length);-->
<!--        var _tr = $(this).closest("tr");-->
<!--&lt;!&ndash;        var _tr2 = _tr.next("tr")&ndash;&gt;-->
<!--        console.log(_tr.length);-->
<!--&lt;!&ndash;        console.log(_tr2);&ndash;&gt;-->
<!--&lt;!&ndash;        _tr2.remove();&ndash;&gt;-->
<!--        _tr.remove();-->
<!--    }-->


<!--&lt;!&ndash;        var eventTarget = document.getElementsByClassName('deleteOption_btn');&ndash;&gt;-->
<!--&lt;!&ndash;        for(var i=0; i<eventTarget.length; i++) {&ndash;&gt;-->
<!--&lt;!&ndash;            eventTarget[i].addEventListener('click', function() {&ndash;&gt;-->
<!--&lt;!&ndash;                var parent = document.querySelector('#table')&ndash;&gt;-->
<!--&lt;!&ndash;                if(i>1){&ndash;&gt;-->
<!--&lt;!&ndash;                    console.log('해당 행을 삭제합니다.');&ndash;&gt;-->
<!--&lt;!&ndash;                    parent.removeChild(this.parentElement.parentElement.parentElement.parentElement)&ndash;&gt;-->
<!--&lt;!&ndash;                    parent.removeChild(this.parentElement.parentElement.parentElement.parentElement.nextSibling)&ndash;&gt;-->
<!--&lt;!&ndash;                    i&#45;&#45;&ndash;&gt;-->
<!--&lt;!&ndash;                }&ndash;&gt;-->
<!--&lt;!&ndash;                else{&ndash;&gt;-->
<!--&lt;!&ndash;                    console.log('마지막 옵션은 삭제 불가능합니다.');&ndash;&gt;-->
<!--&lt;!&ndash;                }&ndash;&gt;-->
<!--&lt;!&ndash;            });&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->



<!--&lt;!&ndash;        var clickedBtn = this;&ndash;&gt;-->
<!--&lt;!&ndash;        if(clickedBtn){&ndash;&gt;-->
<!--&lt;!&ndash;             console.log(clickedBtn);&ndash;&gt;-->
<!--&lt;!&ndash;             $(clickedBtn).closest("tr").remove();&ndash;&gt;-->
<!--&lt;!&ndash;             clickedBtn = null; // not necessary&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->

<!--&lt;!&ndash;        var _tr = $(this).closest('tr')&ndash;&gt;-->
<!--&lt;!&ndash;        var _tr2 = _tr.siblings();&ndash;&gt;-->
<!--&lt;!&ndash;        console.log(_tr);&ndash;&gt;-->
<!--&lt;!&ndash;        console.log(_tr2.length);&ndash;&gt;-->
<!--&lt;!&ndash;        console.log($(this));&ndash;&gt;-->
<!--&lt;!&ndash;        console.log(this);&ndash;&gt;-->

<!--&lt;!&ndash;        _tr.remove();&ndash;&gt;-->
<!--&lt;!&ndash;        _tr2.remove();&ndash;&gt;-->


<!--&lt;!&ndash;        console.log(this.parentElement.parentElement.parentElement.parentElement);&ndash;&gt;-->
<!--&lt;!&ndash;        var _tr = this.parentElement.parentElement.parentElement.parentElement;&ndash;&gt;-->
<!--&lt;!&ndash;        var _tr2 = this.parentElement.parentElement.parentElement.parentElement.nextSibling;&ndash;&gt;-->
<!--&lt;!&ndash;        _tr.remove();&ndash;&gt;-->
<!--&lt;!&ndash;        _tr2.remove();&ndash;&gt;-->

<!--</script>-->

{% endblock %}