{% extends 'base_baker.html' %}

{% block content %}
<style>
    table {
        font-size: 0.9em;
        width: 95%;
        margin: auto;
        border-top: 2px solid #a7a7a7;
        border-bottom: 2px solid #a7a7a7;
    }

    .option {
        width:20%;
        font-size: 0.95rem;
        background-color: #f0f0f0;
        text-align: center;
        vertical-align: middle;
        border-right: 2px solid #a7a7a7;
        border-bottom: 2px solid #a7a7a7;
    }

     @media (min-width: 1000px) {
        #addOption {
            width: 90%;
        }
        table{
            width: 90%;
        }
        .option {
            width: 15%
        }
     }

    .optionInfo {
        border-bottom: 1px solid #a7a7a7;
<!--        background-color: #f5efefb3;-->
    }

    .detailInfo {
        border-bottom: 2px solid #a7a7a7;
<!--        background-color: #f5efefb3;-->
    }

    td {
        rgba(255, 255, 255, 0.5);
        padding: 5px 10px;

    }

    .requiredOption{
        font-weight: bold;
        color: #f95a5a;
    }

    .optionalOption{
        font-weight: bold;
        color: #5a7af9;
    }

    .button {
        background-color: #b8b8b8;
        border: 1px solid #b8b8b8;
        border-radius: .2rem;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 1px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 120px;
        height: 1.9em;
    }

    .button:hover {
        background-color: #a7a7a7;
        border: 1px solid #a7a7a7;
        transition: 0.15s;
    }

    .button:focus {
        outline: none;
    }

    .button:active {
        background-color: #969393;
    }

    .apply_btn {
        background-color: #747474;
        border: 1px solid #747474;
        height: 2.2em;
    }

    .apply_btn:hover {
        background-color: #656565;
        border: 1px solid #656565;
        transition: 0.15s;
    }

    .apply_btn:active {
        background-color: #4f4f4f;
    }

    .addDetail_btn{
        background-color: white;
        border: 1px solid #8572fc;
        border-radius: .2rem;
        color: #8572fc;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 1px;
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 1.1em;
    }

    .addDetail_btn:hover{
        background-color: #b6aaff;
        border: 1px solid #b6aaff;
        color: white;
        transition: 0.15s;
    }

    .addDetail_btn:focus {
        outline: none;
    }

    .addDetail_btn:active {
        background-color: #a192ff;
    }

       .deleteDetail_btn{
        border: none;
        background-color: transparent;
    }

    .deleteDetail_btn:focus {
        outline: none;
    }

    .deleteDetail_btn > img {
        opacity: 0.6;
        background-color: white;
    }

    .deleteDetail_btn > img:hover {
        opacity: 0.8;
        transition: 0.15s;
        background-color: #e9e7e7;
    }

    .deleteDetail_btn > img:active {
        background-color: #d2d2d2;
    }

<!--    .margin_left {-->
<!--        margin-left: 5%;-->
<!--    }-->

    input{

    }
    input:focus {
        outline: none;
    }
<!--    input:focus {-->
<!--        outline: 0.5px solid black;-->
<!--    }-->


<!--    .vertical_line {-->
<!--        padding-right: 1em;-->
<!--        border-right: 1.5px solid black;-->
<!--    }-->
  label{
    margin-right: 20px;
  }

</style>


<div style="font-size: 0.9rem;">
  <div class="row">
        <p class="pt-3 pl-4 path">케이크 관리 > 케이크 옵션 관리 > 케이크 옵션 추가</p>
  </div>
</div>

<form method = "POST" action = "#" onsubmit="return check_submit()">
    {% csrf_token %}
    <table id="table" class="mt-5 mb-2">
            <!-- 옵션 추가에서 씀 -->
             <tr id="option_row">
                <td class="option text-nowrap" rowspan="2">옵션</td>
                <td class="optionInfo text-nowrap">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <!-- 옵션명 input -->
                            {{optionform.optionName}}
    <!--                        <input type="text" name="optionName" placeholder="옵션명(10자리 이하)" maxlength="10" size="27" required>-->
                            <!-- 필수옵션입니다 checkbox -->
                            <span class="ml-3 mr-1 requiredOption">필수옵션입니까?</span>{{optionform.isNecessary}}
    <!--                        <input type="checkbox" class="isRequired" name="isRequired" value="필수옵션입니까" style="font-size: 0.8em;">-->
                        </div>
                        <div>
                            <!-- 세부항목 추가 button -->
                            <button type="button" class="add-form-row addDetail_btn ml-3">세부항목 추가</button>
                        </div>
                    </div>
                </td>
            </tr>

            <tr id="detail_row">
                <td class="detailInfo">
                    <div class="mt-2 mb-3 ml-3">
    <!--                    <span class="ml-3 mr-1">색상판</span>-->
                        {{optionform.withColorOrImage}}
    <!--                    <span class="ml-4 mr-1">이미지 업로드</span>-->
    <!--                    {{optionform.withImage}}-->
                      <span data-html="true" data-toggle="tooltip" data-placement="top" title="해당 옵션에 색상판 또는 이미지가 필요하면 선택해주세요.<br>색상판을 선택하면 종류에 '색상판'을 적고 금액을 적어주세요"><img src="/static/img/question.png" style="width: 11px; margin-left:-30px; margin-bottom: 5px;"></span>
                    </div>
    <!--                <div id="detail">-->
    <!--                    <div class="detail_obj text-nowrap d-flex align-items-center ml-1 my-2">-->
    <!--                        &lt;!&ndash; 세부항목 이름 input &ndash;&gt;-->
    <!--                        <span class="ml-1 mr-3">종류</span>{{detail.detailName}}-->
    <!--                        &lt;!&ndash; 세부항목 추가금액 input &ndash;&gt;-->
    <!--                        <span class="ml-3 mr-3">추가금액</span>{{detail.pricing}}-->
    <!--                        &lt;!&ndash; 세부항목 삭제 button &ndash;&gt;-->
    <!--                        <span class="img">-->
    <!--                            <a class="deleteDetail_btn ml-2">-->
    <!--                                <img src="/static/img/delete.png" alt="세부항목 삭제" width="21em" onclick="javascript:deleteDetail(this)">-->
    <!--                            </a>-->
    <!--                        </span>-->
    <!--                    </div>-->
    <!--                </div>-->
                    {{ formset.management_form }}
                    {% for form in formset %}
                    <div id="detail">
                        <div class="formRow detail_obj text-nowrap d-flex align-items-center ml-1 my-2">
                            <!-- 세부항목 이름 input -->
                            <span class="ml-1 mr-3">종류</span>{{form.detailName}}
                            <!-- 세부항목 추가금액 input -->
                            <span class="ml-3 mr-3">추가금액</span>{{form.pricing}}
                            <!-- 세부항목 삭제 button -->
                            <span class="img">
                                <a class="remove-form-row deleteDetail_btn ml-2">
    <!--                                <img src="/static/img/delete.png" alt="세부항목 삭제" width="21em" onclick="javascript:deleteDetail(this)">-->
                                    <img src="/static/img/delete.png" alt="세부항목 삭제" width="21em">
                                </a>
                            </span>
                        </div>
                    </div>
                    {% endfor %}
                </td>
            </tr>
    </table>

    <!-- 적용 버튼 -->
    <div id="submit" class="mt-5 d-flex justify-content-center align-items-center">
        <button type="submit" class="apply_btn button">옵션 추가하기</button>
    </div>
</form>



<!-- 처음건 버튼이 존재하지 않음 -->
<!--<script type="text/javascript">-->
<!--    $(document).ready(function(){-->
<!--        $('.img:first()').hide();-->
<!--    });-->
<!--</script>-->
<script type="text/javascript">
    <!-- updateElementIndex(this, prefix, i);-->
    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }

    <!-- cloneMore('.form-row:last', 'form'); -->
    function cloneMore(selector, prefix) {
    <!-- clone() : 가지고 있는 요소 뿐만 아니라 그 안에 포함된 자식요소가 자동으로 모두 복사, 데이터 및 기능까지 복사하기를 원할 경우 매개변수에 true -->
        var newElement = $(selector).clone(true);
        var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
        newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
    <!-- attr(인자1개) : 선택한 요소의 속성값을 가져옴 -->
            var name = $(this).attr('name')
            if(name) {
                name = name.replace('-' + (total-1) + '-', '-' + total + '-');
                var id = 'id_' + name;
    <!-- val(인자가 있을 경우) : 선택한 양식의 값을 설정 -->
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            }
        });
        newElement.find('label').each(function() {
            var forValue = $(this).attr('for');
            if (forValue) {
              forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
              $(this).attr({'for': forValue});
            }
        });
        total++;
        $('#id_' + prefix + '-TOTAL_FORMS').val(total);
    <!-- after(인자) : 선택한 요소 뒤에 새 요소를 추가 -->
        $(selector).after(newElement);

        return false;
    }

    <!-- deleteForm('form', $(this)); -->
    function deleteForm(prefix, btn) {
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    <!-- 우린 if 필요없음 (아예 delete버튼이 없음)-->
<!--        btn.closest('.formRow').remove();-->
<!--        var forms = $('.formRow');-->
<!--        $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);-->
<!--        for (var i=0, formCount=forms.length; i<formCount; i++) {-->
<!--            $(forms.get(i)).find(':input').each(function() {-->
<!--                updateElementIndex(this, prefix, i);-->
<!--            });-->
<!--        }-->
        if (total > 1){
            btn.closest('.formRow').remove();
            var forms = $('.formRow');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i=0, formCount=forms.length; i<formCount; i++) {
                $(forms.get(i)).find(':input').each(function() {
                    updateElementIndex(this, prefix, i);
                });
            }
        }
        else if (total == 1){
            alert('세부옵션이 최소 1개 존재해야합니다.');
        }
        return false;
    }

    $(document).on('click', '.add-form-row', function(e){
<!--        $('.img:not(:first)').show();-->
        e.preventDefault();
        cloneMore('.formRow:last', 'form');
        return false;
    });

    $(document).on('click', '.remove-form-row', function(e){
        e.preventDefault();
        deleteForm('form', $(this));
        return false;
    });

</script>


<!-- 세부옵션(옵션명, 가격)을 다 적지 않으면 오류 -->
<script>
    function check_submit(){
<!--        var check=0;-->
<!--        var requiredOption_list = document.getElementsByClassName("requiredOption");-->

<!--        &lt;!&ndash; 필수옵션을 다 선택하지 않았을 경우 &ndash;&gt;-->
<!--        for(var i=0; i< requiredOption_list.length; i++){-->
<!--            if(requiredOption_list[i].options[requiredOption_list[i].selectedIndex].value == ""){-->
<!--                check=1;-->
<!--                break;-->
<!--            }-->
<!--        }-->
<!--        &lt;!&ndash; 픽업시간을 선택하지 않았을 경우(우선) &ndash;&gt;-->
<!--        var pickupTime = document.getElementById("pickupTime");-->
<!--        if(pickupTime.options[pickupTime.selectedIndex].value == ""){-->
<!--            check=2;-->
<!--        }-->
<!--        &lt;!&ndash; 경고창 &ndash;&gt;-->
<!--        if(check == 1){-->
<!--            alert("필수옵션을 다 선택해주세요.");-->
<!--            return false;-->
<!--        }-->
<!--        else if(check == 2){-->
<!--            alert("픽업 시간을 선택해주세요.");-->
<!--            return false;-->
<!--        }-->
<!--        else-->
<!--            return true;-->
    }
</script>


<script>
  if('{{ error }}'!="")
    alert('{{ error }}');
</script>

<script>
  $(function () {
	$('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}

