<!-- create_with_author.html :: part 3 -->

<form class="form-horizontal" method="POST" action="">
    {% csrf_token %}
<div class="row spacer">
<div class="col-2">
    <label>{{option.optionName.label}}</label>
</div>
<div class="col-4">
    <div class="input-group">
        {{option.optionName}}
    </div>
</div>
</div>
{{ detail.management_form }}
{% for detailform in formset %}
<div class="row form-row spacer">
    <div class="col-2">
        <label>{{detailform.detailName.label}}</label>
    </div>
    <div class="col-4">
        <div class="input-group">
            {{detailform.detailName}}
            <div class="input-group-append">
                <button class="btn btn-success add-form-row">+</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="row spacer">
    <div class="col-4 offset-2">
        <button type="submit" class="btn btn-block btn-primary">Create</button>
    </div>
</div>
</form>