{% extends 'base_baker.html' %}

{% block content %}
<style>
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
    table {
        font-size: 0.9em;
        width: 95%;
        margin: auto;
        border-top: 2px solid #a7a7a7;
        border-bottom: 2px solid #a7a7a7;
    }

    .option {
        width:20%;
        font-size: 0.95rem;
        background-color: #f0f0f0;
        text-align: center;
        vertical-align: middle;
        border-right: 2px solid #a7a7a7;
        border-bottom: 2px solid #a7a7a7;
    }

     @media (min-width: 1000px) {
        #addOption {
            width: 90%;
        }
        table{
            width: 90%;
        }
        .option {
            width: 15%
        }
     }

    .optionInfo {
        border-bottom: 1px solid #a7a7a7;
<!--        background-color: #f5efefb3;-->
    }

    .detailInfo {
        border-bottom: 2px solid #a7a7a7;
<!--        background-color: #f5efefb3;-->
    }

    td {
        rgba(255, 255, 255, 0.5);
        padding: 5px 10px;

    }

    .requiredOption{
        font-weight: bold;
        color: #f95a5a;
    }

    .optionalOption{
        font-weight: bold;
        color: #5a7af9;
    }

    .button {
        background-color: #b8b8b8;
        border: 1px solid #b8b8b8;
        border-radius: .2rem;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 1px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 120px;
        height: 1.9em;
    }

    .button:hover {
        background-color: #a7a7a7;
        border: 1px solid #a7a7a7;
        transition: 0.15s;
    }

    .button:focus {
        outline: none;
    }

    .button:active {
        background-color: #969393;
    }

    .apply_btn {
        background-color: #747474;
        border: 1px solid #747474;
        height: 2.2em;
    }

    .apply_btn:hover {
        background-color: #656565;
        border: 1px solid #656565;
        transition: 0.15s;
    }

    .apply_btn:active {
        background-color: #4f4f4f;
    }

    .addDetail_btn{
        background-color: white;
        border: 1px solid #8572fc;
        border-radius: .2rem;
        color: #8572fc;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 1px;
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 1.1em;
    }

    .addDetail_btn:hover{
        background-color: #b6aaff;
        border: 1px solid #b6aaff;
        color: white;
        transition: 0.15s;
    }

    .addDetail_btn:focus {
        outline: none;
    }

    .addDetail_btn:active {
        background-color: #a192ff;
    }

       .deleteDetail_btn{
        border: none;
        background-color: transparent;
    }

    .deleteDetail_btn:focus {
        outline: none;
    }

    .deleteDetail_btn > img {
        opacity: 0.6;
        background-color: white;
    }

    .deleteDetail_btn > img:hover {
        opacity: 0.8;
        transition: 0.15s;
        background-color: #e9e7e7;
    }

    .deleteDetail_btn > img:active {
        background-color: #d2d2d2;
    }

<!--    .margin_left {-->
<!--        margin-left: 5%;-->
<!--    }-->

    input{

    }
    input:focus {
        outline: none;
    }
<!--    input:focus {-->
<!--        outline: 0.5px solid black;-->
<!--    }-->


<!--    .vertical_line {-->
<!--        padding-right: 1em;-->
<!--        border-right: 1.5px solid black;-->
<!--    }-->


</style>


<div style="font-size: 0.9rem;">
  <div class="row">
        <p class="pt-3 pl-4 path">케이크 관리 > 케이크 옵션 관리 > 케이크 옵션 추가</p>
  </div>
</div>

<form method = "POST" action = "#">
{% csrf_token %}
<table id="table" class="mt-5 mb-2">
        <!-- 옵션 추가에서 씀 -->
         <tr id="option_row">
            <td class="option text-nowrap" rowspan="2">옵션</td>
            <td class="optionInfo text-nowrap">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <!-- 옵션명 input -->
                        {{option.optionName}}
<!--                        <input type="text" name="optionName" placeholder="옵션명(10자리 이하)" maxlength="10" size="27" required>-->
                        <!-- 필수옵션입니다 checkbox -->
                        <span class="ml-3 mr-1 requiredOption">필수옵션입니까?</span>{{option.isNecessary}}
<!--                        <input type="checkbox" class="isRequired" name="isRequired" value="필수옵션입니까" style="font-size: 0.8em;">-->
                    </div>
                    <div>
                        <!-- 세부항목 추가 button -->
                        <button type="button" class="addDetail_btn ml-3">세부항목 추가</button>
                    </div>
                </div>
            </td>
        </tr>

        <tr id="detail_row">
            <td class="detailInfo">
                <div class="mt-2 mb-3">
                    <span class="ml-3 mr-1">색상판</span>
                    {{option.withColor}}
                    <span class="ml-4 mr-1">이미지 업로드</span>
                    {{option.withImage}}
                </div>

<!--                <div id="detail">-->
<!--                    <div class="detail_obj text-nowrap d-flex align-items-center ml-1 my-2">-->
<!--                        &lt;!&ndash; 세부항목 이름 input &ndash;&gt;-->
<!--                        <span class="ml-1 mr-3">종류</span>{{detail.detailName}}-->
<!--                        &lt;!&ndash; 세부항목 추가금액 input &ndash;&gt;-->
<!--                        <span class="ml-3 mr-3">추가금액</span>{{detail.pricing}}-->
<!--                        &lt;!&ndash; 세부항목 삭제 button &ndash;&gt;-->
<!--                        <span class="img">-->
<!--                            <a class="deleteDetail_btn ml-2">-->
<!--                                <img src="/static/img/delete.png" alt="세부항목 삭제" width="21em" onclick="javascript:deleteDetail(this)">-->
<!--                            </a>-->
<!--                        </span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                {{detail_formset.management_form}}-->
<!--                {% for detail in detail_formset.forms %}-->
                <div id="detail">
                    <div class="detail_obj text-nowrap d-flex align-items-center ml-1 my-2">
                        <!-- 세부항목 이름 input -->
                        <span class="ml-1 mr-3">종류</span>{{detail.detailName}}
                        <!-- 세부항목 추가금액 input -->
                        <span class="ml-3 mr-3">추가금액</span>{{detail.pricing}}
                        <!-- 세부항목 삭제 button -->
                        <span class="img">
                            <a class="deleteDetail_btn ml-2">
                                <img src="/static/img/delete.png" alt="세부항목 삭제" width="21em" onclick="javascript:deleteDetail(this)">
                            </a>
                        </span>
                    </div>
                    <div class="detail_obj text-nowrap d-flex align-items-center ml-1 my-2">
                        <!-- 세부항목 이름 input -->
                        <span class="ml-1 mr-3">종류</span>{{detail.detailName}}
                        <!-- 세부항목 추가금액 input -->
                        <span class="ml-3 mr-3">추가금액</span>{{detail.pricing}}
                        <!-- 세부항목 삭제 button -->
                        <span class="img">
                            <a class="deleteDetail_btn ml-2">
                                <img src="/static/img/delete.png" alt="세부항목 삭제" width="21em" onclick="javascript:deleteDetail(this)">
                            </a>
                        </span>
                    </div>
                </div>
<!--                {% endfor %}-->
            </td>
        </tr>
</table>

<!-- 적용 버튼 -->
<div id="submit" class="mt-5 d-flex justify-content-center align-items-center">
    <button type="submit" class="apply_btn button">옵션 추가하기</button>
</div>
</form>




<!-- 처음건 버튼이 존재하지 않음 -->
<script type="text/javascript">
    $(document).ready(function(){
        $('.img').hide();
    });
</script>

<!-- 세부항목 추가 -->
<script type="text/javascript">
    $('#addDetail_btn').click(function() {
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });


<!--    var html_detail = document.getElementById('detail').innerHTML;-->

<!--    function addDetail(e){-->
<!--        e.preventDefault()-->


<!--        $('#detail').append(html_detail);-->
<!--    }-->
</script>

<!-- 세부항목 삭제 -->
<script type="text/javascript">
    function deleteDetail(obj){
        var tr = obj.parentNode.parentNode;
        tr.parentNode.remove('.detail_obj');
    }
</script>




{% endblock %}