{% extends 'base_baker.html' %}
{% block title %} :: 상세 주문 내역 확인 :: {% endblock %}
{% block content %}

<style>
  #accept, #reject{
    padding: 0.7em;
    padding-right: 2em;
    padding-left: 2em;"
  }

  .color_recommend {
        display: inline-flex;
	      border: 2px solid #000000;
	      width: 15px;
	      height: 15px;
	      border-radius: 100%;
    }
    #customerImage{
        width: 13rem;
        height: 13rem;
        object-fit: contain;
        border: 2px solid #ffe0e0;
    }
</style>
<div class="row">
        <p class="pt-3 pl-4 path">주문 관리 > 상세 주문 내역 확인</p>
</div>

    <div class="row justify-content-center">
        <div class="col-8 col-sm-5 col-md-4 mb-3 mt-5">
<!--            <div style="text-align: center;">-->
<!--                <img id="cakeImg" class="m-2" src="/media/{{ cake.cakeImg.value }}" alt="cake image">-->
<!--            </div>-->
            <div class="image-block card-img-top embed-responsive embed-responsive-1by1">
               <img id="cake_img" class="embed-responsive-item" src="/media/{{ order.cakeImg }}">
            </div>
            <br>
          <div class="form-inline form-group">
                <form method = "POST" action = "#" onsubmit="return accept_alert()">
                {% csrf_token %}
                <div class="row mt-1 ml-4">
                  <button id="accept" class="btn btn-secondary mt-4 text-center">수락하기</button>
                </div>
                </form>
                <div class="row mt-1 ml-4">
                  <a href="{% url 'baker:orderReject' order.orderNum %}"><button id="reject" class="btn btn-danger mt-4 text-center">거절하기</button></a>
                </div>
          </div>
        </div>
        <div id="cake_info" class="form-group col-8 col-sm-7 col-md-8 mt-5" style="padding-top: 1em; padding-bottom: 1em; border: 2px solid #bdbdbd;">
            <div class="form-row">
                <div class="col-4 text-nowrap text-center">
                    <label>주문번호</label>
                </div>
                <div class="col-6" style="align:center;">
                    {{ order.orderNum }}
                </div>
            </div>
            <hr>
            <div class="form-row">
                <div class="col-4 text-nowrap text-center">
                    <label>주문자</label>
                </div>
                <div class="col-6" style="align:center;">
                    {{ order.orderer }}
                </div>
            </div>
            <hr>
            <div class="form-row">
                <div class="col-4 text-nowrap text-center">
                    <label>케이크 이름</label>
                </div>
                <div class="col-6" style="align:center;">
                    {{ order.cakeName }}
                </div>
            </div>
            <hr>
            <div class="form-row">
                <div class="col-4 text-nowrap text-center">
                    <label style="margin-top: 2.8em;">선택한 옵션</label>
                </div>
                <div class="col-6">
                  {% for option in option_list %}
                    {% for orderoption in orderoption_list %}
                      {% if orderoption.color != NULL %}
                        {% if orderoption.optionID == option.id %}
                          <div class="mt-2"><div class="color_recommend" style="background-color: {{orderoption.color}};"></div>{{option.option}}: {{option.detailName}} ({{option.pricing}}원) </div>
                        {% endif %}
                      {% elif orderoption.image != NULL %}
                        {% if orderoption.optionID == option.id %}
                          <div class="mt-2">{{option.option}}: {{option.detailName}} ({{option.pricing}}원)<img id="customerImage" class="m-1" src="/media/{{orderoption.image}}" alt="customer image"></div>
                        {% endif %}
                      {% elif orderoption.color == NULL %}
                        {% if orderoption.image == NULL %}
                          {% if orderoption.optionID == option.id %}
                            <div class="mt-2">{{option.option}}: {{option.detailName}} ({{option.pricing}}원)</div>
                          {% endif %}
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                  <div class="mt-2"></div>
                </div>
            </div>
            <hr>
            <div class="form-row">
                <div class="col-4 text-nowrap text-center">
                    <label>희망 픽업일</label>
                </div>
                <div class="col-6" style="align:center;">
                    {{ order.pickupDate }}
                </div>
            </div>
            <hr>
            <div class="form-row">
                <div class="col-4 text-nowrap text-center">
                    <label>희망 픽업 시간</label>
                </div>
                <div class="col-6">
                    {{ order.pickupTime }}
                </div>
            </div>
            <hr>
            <div class="form-row">
                <div class="col-4 text-nowrap text-center">
                    <label>주문 요청사항</label>
                </div>
                <div class="col-6">
                  {{ order.message }}
                </div>
            </div>
          <hr>
            <div class="form-row">
                <div class="col-4 text-nowrap text-center">
                    <label>최종 가격</label>
                </div>
                <div class="col-6">
                  {{ order.price }}원
                </div>
            </div>

        </div>
    </div>
<!--    <div class="row mt-5">-->
<!--        <button type='submit' id="submit" class="btn btn-secondary mt-4">등록</button>-->
<!--    </div>-->

<!--수락하기, 거절하기 버튼 disabled-->
<script>
  $(function(){
    if ('{{order.status}}'!="0"){
      $('#accept').hide();
      $('#reject').hide();
    }
  });
</script>

<!--수락 경고창-->
<script>
    function accept_alert(){
        var result = confirm("정말 수락하실 건가요? 한 번 수락하면 수락 취소는 불가합니다!");
        if(result){
            return true;
        }else{
            return false;
        }
    }
</script>
{% endblock %}