{% extends 'base_baker.html' %}
{% block title %} ::사장님의 가게 평점 확인:: {% endblock %}
{% block content %}
<style>
    #table_space{
        width:100%;
        height: 30em;
        overflow:scroll;
    }

    table {
      width:100%;
      text-align: center;
      border: 2px solid #bf7f7f;
    }

    table tr:not(:nth-child(1)){
      font-size: 15px;
      height: 2.5em;
      vertical-align: top;
      background-color: #f9f9f9cd;
    }

    table th:not(:last-child), td:not(:last-child){
        border-right: 1px solid #bf7f7f;
    }
    table th:nth-child(1){
        width: 15%;
    }
    table th:nth-child(2){
        width: 20%;
    }
    table th:nth-child(3), table th:nth-child(4), table th:nth-child(5){
        width: 10%;
    }
    #header{
      background-color: #f7f1f1cb;
      height: 2em;
      border-bottom: double #bf7f7f;
      font-weight: bold;
    }

    th, td{
        vertical-align:middle;
        border-bottom: 1px solid #bf7f7f;
        margin: 10px !important;
    }
</style>
  <div class="row">
        <p class="pt-3 pl-4 path">가게 관리 > 가게 평점 확인</p>
  </div>
<div class="mt-4" id="table_space">
    <table class = "text-nowrap" id = "table">
        <tr id="header">
            <th>주문번호</th>
            <th>주문자 아이디</th>
            <th>맛</th>
            <th>서비스</th>
            <th>디자인</th>
            <th>한 줄 후기</th>
        </tr>
        {% for review in review_list %}
        <tr>
            <td>{{review.orderNum}}</td>
            <td>{{review.secureID}}</td>
            <td>{{review.taste}}</td>
            <td>{{review.service}}</td>
            <td>{{review.design}}</td>
            <td>{{review.textReview}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}