{% extends 'base_baker.html' %}
{% block title %} temp {% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
<style>
    *{font-family:'Nanum Gothic', sans-serif;}

</style>
<script language="javascript">
    var date = new Date();
    var today = new Date();
    var year = today.getFullYear();
    var month = today.getMonth();
    var day = today.getDay();
    month += 1;
    function dayy(year, month){ //월의 일수를 구함
        switch(month){
            case 1: case 3: case 5: case 7: case 8: case 10: case 12:
            return 31;

            case 4: case 6: case 9: case 11:
            return 30;

            case 2:
            if(((year%400)==0||(year%4)==0&&(year%100)!=0)){
                return 29;
            }
            else{
                return 28;
            }
        }
    }
    function prevmonth(){ //이전 월로 가는 함수
        var ymda = document.getElementById("prev");
        var yg = document.getElementById("Ymd");
        month--; //month를 계속 감소시켜준다
        if(month < 1){ // month가 1보다 작아지면
            month = 12; // month를 12로 만들어줌
            year -= 1; //year를 1 감소시켜준다
        }
        if(month<=date.getMonth())
            alert("현재 시점에서 이후로는 보여지지 않습니다!");
            for(var i=1;i<100;i--){
            window.top.moveTo(i ,i *=-1);
            }
        if(year < 1970){
            alert("기원전");
             for(var i=1;i<100;i--){
            window.top.moveTo(i ,i *=-1);
            }
        }
        var ymda = year + "년" +" "+ (month)+"월";
        present();
    }
    function nextmonth(){  //다음 월로 가는 함수
        var ymda = document.getElementById("next");
        var yg = document.getElementById("Ymd");
        month++; //month 를 계속 증가시켜줌
        if(month > 12){ //만약 month가 12를 넘어가면
            month = 1; // month를 1로 만듦
            year += 1; //year을 1 증가시켜준다
        }
        var ymda = year + "년" +" "+ month+"월";
        present(); //present()함수를 호출하여 다시 찍어줌
    }
    function present(){
        var start = new Date(year, month-1, 1);
        var ymda = document.getElementById("Ymd");
        var Tab = document.getElementById("tab");
        var day1 = document.getElementById('day1').innerHTML;
        var day2 = document.getElementById('day2').innerHTML;
<!--        var day3 = document.getElementById('day3').innerHTML;-->
<!--        var day4 = document.getElementById('day4').innerHTML;-->
<!--        var day5 = document.getElementById('day5').innerHTML;-->
<!--        var day6 = document.getElementById('day6').innerHTML;-->
<!--        var day7 = document.getElementById('day7').innerHTML;-->
<!--        var day8 = document.getElementById('day8').innerHTML;-->
<!--        var day9 = document.getElementById('day9').innerHTML;-->
<!--        var day10 = document.getElementById('day10').innerHTML;-->
<!--        var day11 = document.getElementById('day11').innerHTML;-->
<!--        var day12 = document.getElementById('day12').innerHTML;-->
<!--        var day13 = document.getElementById('day13').innerHTML;-->
<!--        var day14 = document.getElementById('day14').innerHTML;-->
<!--        var day15 = document.getElementById('day15').innerHTML;-->
<!--        var day16 = document.getElementById('day16').innerHTML;-->
<!--        var day17 = document.getElementById('day17').innerHTML;-->
<!--        var day18 = document.getElementById('day18').innerHTML;-->
<!--        var day19 = document.getElementById('day19').innerHTML;-->
<!--        var day20 = document.getElementById('day20').innerHTML;-->
<!--        var day21 = document.getElementById('day21').innerHTML;-->
<!--        var day22 = document.getElementById('day22').innerHTML;-->
<!--        var day23 = document.getElementById('day23').innerHTML;-->
<!--        var day24 = document.getElementById('day24').innerHTML;-->
<!--        var day25 = document.getElementById('day25').innerHTML;-->
<!--        var day26 = document.getElementById('day26').innerHTML;-->
<!--        var day27 = document.getElementById('day27').innerHTML;-->
<!--        var day28 = document.getElementById('day28').innerHTML;-->
<!--        var day29 = document.getElementById('day29').innerHTML;-->
<!--        var day30 = document.getElementById('day30').innerHTML;-->
<!--        var day31 = document.getElementById('day31').innerHTML;-->
        var row = null;
        var cnt = 0;
        var row_count = 1;
        var ym = year + "년" +" "+ (month)+"월";
        ymda.innerHTML = ym;
        while(tab.rows.length >2){     //테이블의 행의 길이가 2보다 크면 테이블의 행 제거함.
            tab.deleteRow(tab.rows.length -1);
        }
        row = Tab.insertRow();
        for(var j = 0; j<start.getDay(); j++){ //달력의 시작 일 구함
            cell = row.insertCell();
            cnt+=1;
        }
        for(var i = 1; i<= dayy(year, month); i++){ //달력 일수만큼 찍어줌
            var cell = row.insertCell();
            if(year == date.getFullYear() && month-1 == date.getMonth() && i == 1){
                cell.innerHTML = "<div class='calendar_cell'>"+i+"</div>"+"<a class='calendar_a_tag_example'>"+cnt+"</a>";
            }else{

                cell.innerHTML = "<div>"+i+"</div>"+"<a class='calendar_a_tag_example'>"+day1+"</a>";
            }

            cnt += 1;

            if(cnt%7 ==0){ //cnt가 7이면 행을 늘려줌
                row = tab.insertRow();
                row_count += 1;
            }

        }
        for(var k = 0; k < row_count*7 - cnt; k++){
            cell = row.insertCell();
        }
    }
</script>
<body class="main_footer_wrap">
 <div class="row">
    <div class="container text-center">
        <div class="row row-eq-height justify-content-around mt-3">
            <div class="col-10 col-sm-5 col-md-4" style="border: 1px solid red;">
        <form method = "POST" onsubmit="return temp()">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>월요일 주문가능 수량</label>
                </div>
                <div class="form-group col-md-2">
                    {{opendays.monday}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>화요일 주문가능 수량</label>
                </div>
                <div class="form-group col-md-2">
                    {{opendays.tuesday}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>수요일 주문가능 수량</label>
                </div>
                <div class="form-group col-md-2">
                    {{opendays.wednesday}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>목요일 주문가능 수량</label>
                </div>
                <div class="form-group col-md-2">
                    {{opendays.thursday}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>금요일 주문가능 수량</label>
                </div>
                <div class="form-group col-md-2">
                    {{opendays.friday}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>토요일 주문가능 수량</label>
                </div>
                <div class="form-group col-md-2">
                    {{opendays.saturday}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>일요일 주문가능 수량</label>
                </div>
                <div class="form-group col-md-2">
                    {{opendays.sunday}}
                </div>
            </div>
        <button type="submit"> submit </button>
        </form>
    </div>
 </div>
                <div id="day1">
                    {{dailyform.day1}}
                </div>
                <div id="day2">
                    {{dailyform.day2}}
                </div>

        <main>
            <div class="main_wrap">
                <div class="calendar">
                    <table class = "main_calendar" id = "tab">
                        <tr>
                            <td class="calendar_prev" id="prev"><label class="calendar_label" onclick="prevmonth()"><</td>
                            <td class="calendar_year_month" id="Ymd"colspan="5"></td>
                            <td class="calendar_next" id="next"><label class="calendar_label" onclick="nextmonth()">></td>
                        </tr>
                        <tr class="calendar_weekday">
                            <td class="week_sun">일</td>
                            <td class="week_mon">월</td>
                            <td class="week_tue">화</td>
                            <td class="week_wed">수</td>
                            <td class="week_thu">목</td>
                            <td class="week_fri">금</td>
                            <td class="week_sat">토</td>
                        </tr>
                    </table>
                    <script type="text/javascript">
                        present();
                    </script>
                </div>
            </div>
        </main>
<script>
    function temp(){
        var result = confirm("정말 고치실건가요? 고치시면 영업일은 초기화됩니다.");
        if(result){
            return true;
        }else{
            return false;
        }
    }
</script>
{% endblock %}

























