{% extends 'base_baker.html' %}
{% block title %} ::요일별 수량 관리:: {% endblock %}
{% block content %}

<style>
    .form-row{

    }
</style>

<div class="row">
    <p class="pt-3 pl-4 path">가게 관리 > 요일별 수량 관리</p>
</div>
<div class="text-center mt-5">
        <div class="row justify-content-around">

        <form method = "POST" onsubmit="return weekhandle_alert()">
            {% csrf_token %}
            <div class="form-row justify-content-between align-items-center">
                <div class="form-group col-md-6">
                    <label>월요일 주문가능 수량</label>
                </div>
                <div class="form-group col-md-3">
                    {{opendays.monday}}
                </div>
            </div>
            <div class="form-row justify-content-between align-items-center">
                <div class="form-group col-md-6">
                    <label>화요일 주문가능 수량</label>
                </div>
                <div class="form-group col-md-3">
                    {{opendays.tuesday}}
                </div>
            </div>
            <div class="form-row justify-content-between align-items-center">
                <div class="form-group col-md-6">
                    <label>수요일 주문가능 수량</label>
                </div>
                <div class="form-group col-md-3">
                    {{opendays.wednesday}}
                </div>
            </div>
            <div class="form-row justify-content-between align-items-center">
                <div class="form-group col-md-6">
                    <label>목요일 주문가능 수량</label>
                </div>
                <div class="form-group col-md-3">
                    {{opendays.thursday}}
                </div>
            </div>
            <div class="form-row justify-content-between align-items-center">
                <div class="form-group col-md-6">
                    <label>금요일 주문가능 수량</label>
                </div>
                <div class="form-group col-md-3">
                    {{opendays.friday}}
                </div>
            </div>
            <div class="form-row justify-content-between align-items-center">
                <div class="form-group col-md-6">
                    <label>토요일 주문가능 수량</label>
                </div>
                <div class="form-group col-md-3">
                    {{opendays.saturday}}
                </div>
            </div>
            <div class="form-row justify-content-between align-items-center">
                <div class="form-group col-md-6">
                    <label>일요일 주문가능 수량</label>
                </div>
                <div class="form-group col-md-3">
                    {{opendays.sunday}}
                </div>
            </div>
        <div class="text-center mt-5" style="width:100%">
            <button type='submit' id="submit" class="btn btn-secondary" style="width: 120px; height: 35px;">등록</button>
        </div>
        </form>

 </div>
</div>

<script>
    function weekhandle_alert(){

        var result = confirm("정말 고치실건가요? 고치시면 영업일은 초기화됩니다.");
        if(result){
            return true;
        }else{
            return false;
        }
    }
</script>
{% endblock %}